//-----------------------------------------------------------------------------------------------//
// AUTHOR:  Andrew Michaud                                                                       //
// FILE:    main.scss                                                                            //
// PURPOSE: SCSS file for drew.life                                                              //
// UPDATED: 2019-02-26                                                                           //
// LICENSE: ISC                                                                                  //
//-----------------------------------------------------------------------------------------------//

//-------------------------------- VARIABLES ----------------------------------------------------//
$article_background: #FFFFFF;
$article_highlight: #666699;
$background: #EEEEFF;

$black_blue: #000022;

$lighter_nav_blue: #555577;
$link_hover: #BBBBCC;
$menu_hover: #BB8888;
$nav_blue: #333355;

$project_bg: #444444;
$project_border: #BBBBCC;
$social_color: #444455;
$social_hover_background: #DDDDEE;
$textarea_background: #EFEFFF;

// nonogram section items.
$cell_size: 34px;
$faint_nav_blue: #9999BB;
$board_background: #333344;
$board_filled: #666677;
$board_denied: #BCBCCD;
$board_blocked_denied: #DEDEEF;
$board_empty: #EFEFFF;

$active_nav_colors: (name: $background, code: #77AA77, skills: #7777AA, about: #CC9966);
$hover_nav_colors: (name: #CCCCDD, blog: $menu_hover, code: #88BB88, skills: #8888BB, about: #DDAA77);

//----------------------------- SCSS DEFINITIONS ------------------------------------------------//
%horizontal-flex {
    display: flex;
    flex-direction: row;
}

%vertical-flex {
    display: flex;
    flex-direction: column;
}

//---------------------------------- STYLES -----------------------------------------------------//
a {
    color: $black_blue;
    text-align: center;
    text-decoration: underline;
}

article, aside, footer {
    @extend %vertical-flex;
}

article {
    flex-grow: 10;
    padding: 0 1em 0 1em;

    .languages h3 {
        text-align: center;
    }
}

aside {
    clear: both;
    float: right;
    max-width: 20%;
    padding-top: 2em;
}

li {
    flex-grow: 1;
}

main {
    @extend %horizontal-flex;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
}

ol, ul {
    list-style-type: none;
    margin: 0;
}

header h1 a {
    background-color: $background;
}

nav li a {
    display: block;
    padding: 1em;
}

.code-stuff, .github-link, .language-section, .media-list, .nonogram-container, .social-list {
    @extend %vertical-flex;
}

.language, .top-ten {
    @extend %vertical-flex;
}

.languages, .top-three, .rest, .site-nav ul, body.home, .code-stuff li {
    @extend %horizontal-flex;
}

.site-home {
    background-color: $lighter_nav_blue;
}

.goty a {
    padding: 0;
}

a:hover {
    background-color: $link_hover;
}

a:visited {
    color: $black_blue;
}

nav a:hover {
    background-color: $menu_hover;
}

nav a:visited {
    text-decoration: none;
}

.goty li, .goty li a {
    background-color: $social_hover_background;
    color: $project_bg;
}

.social-list li a {
    border: 1px solid $social_color;
    color: $social_color;
    padding: 25px;
}

li header a:visited {
    color: $black_blue;
}

aside .backlog-bracket li a, aside .honorable-mention li a {
    display: block;
    padding: 1em;
}

.site-nav {
    border: 1px solid $black_blue;
    justify-content: space-between;
    margin: 0 auto 1em auto;
}

header h1 a:hover {
    color: $menu_hover;
}

header h1 a:visited {
    background-color: $background;
}

html, header h1 a:hover {
    background-color: $background;
}

.hentry header {
    border-top: 1px solid $black_blue;
}

.site-nav ul li a {
    color: $background;
}

.site-home a:hover {
    background-color: $link_hover;
}

.github-link {
    background-color: $social_hover_background;
    color: $project_bg;
}

.github-link:hover, .goty a:hover {
    background-color: $project_border;
}

.goty .backlog-bracket a {
    padding: 1em;
}

.social-list li a:hover {
    background-color: $social_hover_background;
}

.site-nav ul li a:visited {
    color: $background;
}

body.home {
    clear: both;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 90%;
    padding: 2.5em 1em 0;
}

.site-nav, #contentinfo {
    box-shadow: 3px 3px 5px $black_blue;
}

#contentinfo {
    background-color: $article_background;
    line-height: 2;
    text-align: center;
    vertical-align: middle;
}

.code-stuff li {
    justify-content: space-between;
}

.code-stuff li, .goty li {
    border: 1px solid $project_border;
    margin: 0.5em;
}

.body li, .hentry li {
    border-top: 1px solid $article_highlight;
}

.game li {
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: $cell_size;
    line-height: $cell_size;
    padding: 0;
    text-align: center;
    width: $cell_size;
}

.top-ten li {
    padding: 0;
}

section.body li {
    border-top: 1px solid $article_highlight;
}

.goty ol li {
    padding: 0.5em inherit 0 inherit;
}

.site-nav ul li {
    background-color: $nav_blue;

    a:hover {
        color: $nav_blue;
    }

    @each $item, $bg_color in $active_nav_colors {
        a.active.#{$item} {
            background-color: $bg_color;
        }
    }

    @each $item, $bg_color in $hover_nav_colors {
        a.#{$item}:hover {
            background-color: $bg_color;
            color: $nav_blue;
        }
    }
}

.site-nav li:hover {
    box-shadow: 3px 3px 5px $black_blue;
}

.goty .backlog-bracket li {
    padding: 0;
}

.hentry li:hover, section.body li:hover {
    border-top-color: $article_background;
}

section.body {
    header {
        width: 100%;
    }

    header, footer {
        padding: 1em;
    }

    footer {
        float: right;
        text-align: right;
        width: 40%;
    }

    .entry-content {
        padding: 0 1em 0 1em;
    }
}

.language {
    background-color: $social_hover_background;
    color: $project_bg;
    margin: 0;
}

.code-stuff {
    p, .language {
        padding: 1em;
    }

    .github-link, .language {
        display: flex;
        justify-content: space-around;
        min-width: 11em;
    }
}

.entry-content img {
    width: 80%;
}

.game {
    background-color: $nav_blue;
    border-radius: 10px;
    color: $background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .board-entry {
        margin: 0 5px 5px 0;
    }

    .board-entry-spacer {
        margin: 0 10px 5px 0;
    }

    .board-row {
        margin: 0;
    }

    .board-row-spacer {
        margin: 0 0 5px 0;
    }

    .filled-square, .empty-square, .blocked-square, .force-blocked-square {
        background-color: $background;
        border: none;
        color: $board_filled;
        float: left;
        font-size: 24px;
        font-weight: bold;
        height: $cell_size;
        line-height: $cell_size;
        padding: 0;
        text-align: center;
        width: $cell_size;
    }

    .filled-square, .empty-square {
        color: $nav_blue;
    }

    .force-blocked-square {
        background-color: $board_blocked_denied;
        color: $faint_nav_blue;
    }

    .blocked-square {
        background-color: $board-blocked-denied;
    }

    .filled-square {
        background-color: $board_filled;
    }

    .board-row, .board-row-spacer {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .game-board {
        margin: 1em;
    }

    .game-info {
        color: $nav_blue;
        background-color: $background;
        border-radius: 10px;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
        line-height: $cell_size;
        margin: 1em;

        button {
            background-color: $faint_nav_blue;
            border: none;
            font-size: 18px;
            padding: 0;
            width: 96px;
            height: 34px;
        }

        div {
            margin: 0 auto;
            padding: 1em;
        }
    }

    .kbd-navigation .square:focus {
        background: #dddddd;
    }

    .top-hints {
        flex-direction: row;
    }
}

.goty {
    text-align: center;

    article .honorable-mention li {
        margin: 0 auto;
        max-height: 60%;
        max-width: 60%;
    }

    aside {
        border-left: 2px solid $nav_blue;
        padding-top: 0;
        width: 40%;

        .honorable-mention li {
            min-height: 69px;
            min-width: 69px;
        }
    }

    img {
        height: auto;
        width: 100%;
    }

    ol {
        list-style: inside decimal-leading-zero;
    }

    ol, ul {
        justify-content: space-around;
        padding: 0 1em 0 1em;
    }

    .honorable-mention {
        border-top: 2px solid $nav_blue;
    }

    .top-ten .top-three li, .top-ten .honorable-mention li {
        max-width: 33%;
    }

    .top-ten .rest {
        flex-wrap: wrap;
    }

    .top-ten .rest li {
        max-width: 25%;
    }
}

.icon {
    color: $black_blue;
    margin-right: 0.5em;
    width: 2em;
}

.nonogram-container {
    margin: 0 auto;
    min-width: 30%;
    padding: 1em;

    textarea {
        border: 0;
        height: 10em;
        text-align: center;
    }
}

.page-content, section.body {
    background-color: $article_background;
    box-shadow: 5px 5px 5px $article_highlight;
    justify-content: space-between;
    margin: 0 auto 1em auto;
    padding: 0.5em;

    .read-more {
        line-height: 2;
        text-align: left;
        width: 50%;
    }
}

.site-nav ul {
    padding: 0;
}

.social {
    height: 60%;
}

.unix {
    font-variant: small-caps;
}

.zeldo {
    margin: 0;
    width: 700px;

    img {
        width: 400px;
    }
}
