//-----------------------------------------------------------------------------------------------//
// AUTHOR:  Andrew Michaud                                                                       //
// FILE:    main.scss                                                                            //
// PURPOSE: SCSS file for andrewmichaud.com                                                      //
// UPDATED: 2016-03-08                                                                           //
// LICENSE: ISC                                                                                  //
//-----------------------------------------------------------------------------------------------//
@import "_normalize";

$vendor-prefixes: "webkit", "moz", "ms";
$active_nav_colors: (name: #EEEEFF, blog: #AA7777, code: #77AA77, skills: #7777AA, about: #CC9966);
$hover_nav_colors: (name: #CCCCDD, blog: #BB8888, code: #88BB88, skills: #8888BB, about: #DDAA77);

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.beer {
  @each $vendor in $vendor-prefixes {
    -#{$vendor}-animation-name: spin;
    -#{$vendor}-animation-duration: 4000ms;
    -#{$vendor}-animation-iteration-count: infinite;
    -#{$vendor}-animation-timing-function: linear;
  }
}

.beer::before {
  content: "🍺";
  font-size: 10em;
}

%flex {
  display: -webkit-flex;
  display: flex;
}

.horizontal-flex {
  @extend %flex;
  flex-direction: row;
}

.vertical-flex {
  @extend %flex;
  flex-direction: column;
}

ul {
  @extend .horizontal-flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;

  li {
    flex-grow: 1;

    a {
      color: #EEEEFF;
      display: block;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
    }
  }

  h3 {
    text-align: center;
  }
}

.icon {
  width: 40px;
  color: black;
}

html {
  background-color: #EEEEFF;
  height: 100%;
  min-width: 1024px;
  width: 100%;

  body {
    height: inherit;

    header nav ul {
      padding: 0;

      li {
        background-color: #333355;
        float: left;

        @each $item, $bg_color in $active_nav_colors {
          a.active.#{$item} {
            background-color: $bg_color;
          }
        }

        @each $item, $bg_color in $hover_nav_colors {
          a.#{$item}:hover {
            background-color: $bg_color;
            color: #333355;
          }
        }

        a.name {
          background-color: #EEEEFF;
          color: #333344;
        }
      }
    }

    main {
      @extend .horizontal-flex;
      height: inherit;
      justify-content: space-between;

      article {
        display: block;
        flex-grow: 10;
        padding: 20px;

        .blogpost {
          background-color: #DDDDEE;
          padding: 20px;
          max-width: 80%;

          p {
            text-align: justify;
            word-wrap: normal;
          }
        }

        .code-stuff ul {
          flex-direction: column;

          li {
            border-bottom: 1px solid #444455;
            display: flex;
            height: 50px;
            margin-bottom: 5px;
            margin-top: 5px;

            a {
              background-color: #DDDDEE;
              color: #444444;
              display: inline-block;
              margin-right: 5px;
              width: 100px
            }

            a:hover {
              background-color: #BBBBCC;
            }

            p {
              vertical-align: center;
            }
          }
        }

        .languages {
          @extend .horizontal-flex;

          .language-section {
            @extend .vertical-flex;
          }
        }
      }

      aside {
        display: block;
        height: inherit;
        max-width: 20%;
        padding-top: 20px;

        .social ul {
          @extend .vertical-flex;
          justify-content: center;
          padding-top: 20px;

          li {
            padding: 0;

            a {
              border: 1px solid #444455;
              color: #444455;
            }

            a:hover {
              background-color: #DDDDEE;
            }
          }
        }
      }
    }
  }
}

#unix {
  font-variant: small-caps;
}
