//-----------------------------------------------------------------------------------------------//
// AUTHOR:  Andrew Michaud                                                                       //
// FILE:    main.scss                                                                            //
// PURPOSE: SCSS file for drew.life                                                              //
// UPDATED: 2018-12-03                                                                           //
// LICENSE: ISC                                                                                  //
//-----------------------------------------------------------------------------------------------//

$background: #EEEEFF;
$code_icon_color: #000000;
$nav_blue: #333355;
$project_bg: #444444;
$project_border: #BBBBCC;
$social_hover_background: #DDDDEE;
$social_color: #444455;
$textarea_background: #EFEFFF;

$active_nav_colors: (name: $background, code: #77AA77, skills: #7777AA, about: #CC9966);
$hover_nav_colors: (name: #CCCCDD, blog: #BB8888, code: #88BB88, skills: #8888BB, about: #DDAA77);

%flex {
    display: flex;
}

%horizontal-flex {
    @extend %flex;
    flex-direction: row;
}

%vertical-flex {
    @extend %flex;
    flex-direction: column;
}

.language-section, .media-list, .social-list, display {
    @extend %vertical-flex;
}

.code-stuff {
    @extend %vertical-flex;

    li {
        @extend %horizontal-flex;
        justify-content: space-between;
    }

    p a {
        display: inline-block;
        padding: 0;
    }

    .language {
        margin: 0;
        padding: 1em;
    }

    .github-link, .language {
        display: inline-block;
        min-width: 10em;
    }
}

.code-stuff li, .goty li {
    border: 1px solid $project_border;
    margin: 0.5em;
}

.github-link, .goty li, .goty li a, .language {
    background-color: $social_hover_background;
    color: $project_bg;
}

.github-link:hover, .goty a:hover {
    background-color: $project_border;
}

.goty {
    text-align: center;

    .top-ten {
        @extend %vertical-flex;

        .top-three li {
            max-width: 33%;
        }

        .top-three, .rest {
            @extend %horizontal-flex;
        }

        .rest {
            flex-wrap: wrap;
        }
    }

    aside {
        border-left: 2px solid $nav_blue;
        width: 40%;
    }

    img {
        height: auto;
        width: 100%;
    }

    ol {
        list-style: inside decimal-leading-zero;

        li {
            padding-bottom: 0;
            padding-top: 1em;
        }
    }

    ol, ul {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.icon {
    color: $code_icon_color;
    width: 2em;
}

.languages, main {
    @extend %horizontal-flex;
}

.nonogram-container {
    @extend %vertical-flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
    padding-left: 0;
    padding-right: 0;

    textarea {
        border: 0;
        height: 10em;
        text-align: center;
    }
}

.site-nav ul {
    @extend %horizontal-flex;
    list-style-type: none;
    padding: 0;

    li {
        background-color: $nav_blue;

        a, a:visited {
            color: $background;
            text-decoration: none;
        }

        @each $item, $bg_color in $active_nav_colors {
            a.active.#{$item} {
                background-color: $bg_color;
            }
        }

        @each $item, $bg_color in $hover_nav_colors {
            a.#{$item}:hover {
                background-color: $bg_color;
                color: $nav_blue;
            }
        }
    }
}

.social {
    height: 60%;
}

.social-list li a {
    border: 1px solid $social_color;
    color: $social_color;
    padding: 25px;
    text-decoration: none;

    &:hover {
        background-color: $social_hover_background;
    }
}

.unix {
    font-variant: small-caps;
}

.zeldo {
    margin: 0;
    width: 700px;
}

a {
    text-align: center;
}

article {
    @extend %vertical-flex;
    flex-grow: 10;
    min-height: 100;
    padding: 20px;

    .languages h3 {
        text-align: center;
    }
}

aside {
    @extend %vertical-flex;
    max-width: 20%;
    min-height: 100%;
    padding-top: 2em;
}

body, html {
    min-height: 100%;
}

html {
    background-color: $background;
}

ol, ul {
    list-style-type: none;
    margin: 0;

    li {
        flex-grow: 1;

        a {
            display: block;
            padding: 1em;
        }
    }
}
