[submodule "nonogram_web"]
	path = nonogram_web
	url = https://github.com/alixnovosi/nonogram_web
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "sudoku_web"]
	path = sudoku_web
	url = https://github.com/alixnovosi/sudoku_web
[submodule "bounce"]
	path = bounce
	url = https://github.com/alixnovosi/bounce
[submodule "lorentz"]
	path = lorenz
	url = https://github.com/alixnovosi/lorenz
[submodule "tree_web"]
	path = tree_web
	url = https://github.com/alixnovosi/tree_web
