{% set GITHUB_ROOT = "https://github.com/alixnovosi" %}

{% macro head_base() %}
  <meta charset="utf-8" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    integrity="sha384-M86HUGbBFILBBZ9ykMAbT3nVb0+2C7yZlF8X2CiKNpDOQjKroMJqIeGZ/Le8N2Qp"
    crossorigin="anonymous"
  >

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css">
{% endmacro %}

{% macro site_nav(page) %}
  <nav class="site-nav">
    <ul>
      <li><a class="name" href="{{ SITEURL }}/">drew</a></li>

      {% for slug, url in TOPLEVEL_PAGES %}
        <li>
          <a
            class="{% if slug == page.slug %}active {% endif %} {{ page.slug }}"
            href="{{ SITEURL }}/{{ url }}"
          >
            {{ slug }}
          </a>
        </li>
      {% endfor %}
    <ul>
  </nav>
  <nav class="social">
    <ul class="social-list">
      {% for name, link in SOCIAL %}
        <li>
          <a href="{{ link }}">{{ name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}

{% macro simple_nav() %}
  <nav class="site-nav">
    <ul>
      <li>
        <a class="name" href="{{ SITEURL }}/">Home</a>
      </li>
    </ul>
  </nav>
{% endmacro %}

{% macro goty_nav(page) %}
  <nav class="site-nav-goty">
    <ul>
      <li>
        <a {% if page.previous%} href="{{ SITEURL }}/goty{{page.previous}}.html" {% endif %} >
            {% if page.previous %} {{page.previous}} {% else %} No More {% endif %}
        </a>
      </li>
      <li>
        <a href="{{ SITEURL }}/">home</a>
      </li>
      <li>
        <a {% if page.next%} href="{{ SITEURL }}/goty{{page.next}}.html" {% endif %} >
            {% if page.next %}
              {{page.next}}
            {%else %}
              No more, yet.
            {% endif %}
        </a>
      </li>
    </ul>
  </nav>
{% endmacro %}

{% macro pelican_credit() %}
  <footer class="pelican">
    <address>
      powered by <a href="https://getpelican.com/">Pelican</a>
    </address><!-- /.about -->
  </footer><!-- /.pelican -->
{% endmacro %}
