{% extends "blogbase.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
  <section class="article-body">
    <h1>Archives for {{ SITENAME }}</h1>

    <ul>
      {% for article in dates %}
        <li class="archive-article">
          <div class="dates">{{ article.date.strftime("%d %b %Y") }}</div>
          <div class="title">
            <a href="{{ SITEURL }}/{{ article.url }}">
              {{ article.title }}
            </a>
          </div>
          <div class="tags">
            {% for tag in article.tags %}
              <a href="{{ tag.url }}">{{ tag.name }}</a>
            {% endfor %}
          </div>
          <div class="authors">
            {% for author in article.authors %}
              <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">
                <img class="article-author small"
                     src="/{{ author.image }}"
                     alt="{{ author }}"
                     title="{{ author }}">
              </a>
            {% endfor %}
          </div>
        <li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
