<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <meta charset="utf-8" />

      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
        integrity="sha384-jTFzRHnGayPcZHkUx5hTuWbygQevlGFimHdpRHicjyJXGyyjcioudSScb7/YN0PE"
        crossorigin="anonymous"
      >

      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css">

    {% endblock head %}
  </head>

  <body>
    {% block body %}
      <header class="site-banner">
        {% block header %}
          <h1>
            <a href="{{ SITEURL }}">hi</a>
          </h1>
        {% endblock header %}
      </header>

      <main>
        {% block main %}
          <article>
            {% block content %}
            {% endblock content %}
          </article>

          <aside>
            {% block aside %}
              <nav class="social">
                <ul class="social-list">
                  {% for name, link in SOCIAL %}
                    <li>
                      <a href="{{ link }}">{{ name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
            {% endblock aside %}
          </aside>

        {% endblock main %}
      </main>

      <footer class="pelican" class="body">
        <address>
          powered by <a href="https://getpelican.com/">Pelican</a>
        </address><!-- /.about -->
      </footer><!-- /.pelican -->

    {% endblock body %}
  </body>
</html>
