{% import '_lib.html' as lib with context %}
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      {{ lib.head_base() }}
    {% endblock head %}

    <title>
      {% block title %}
        {% if page is defined %}{{ page.title }}{% else %} drew {% endif %}
      {% endblock title %}
    </title>
  </head>

  <body class="page">
    {% block body %}
      <header class="site-banner">
        {% block header %}
          <h1>
            <a href="{{ SITEURL }}">drew</a>
          </h1>
        {% endblock header %}
      </header>

      <main class="content">
        {% block main %}
          <article>
            {% block content %}
            {% endblock content %}
          </article>

          <aside>
            {% if page is defined %}
              {{ lib.site_nav(page) }}
            {% else %}
              {{ lib.site_nav("none") }}
            {% endif %}
          </aside>

        {% endblock main %}
      </main>

      {{ lib.credit() }}
    {% endblock body %}
  </body>
</html>
