{% extends "page.html" %}

{% block realcontent %}
  <div class="code-page">
    <h1>Code Stuff</h1>
    <p>This is an incomplete selection of my open-source projects.</p>

    <h2>Highlights</h2>
    {% for key, data in DEV_ITEMS["highlights"].items() %}
      <section class="code-stuff">
        <a class="github-link" href="{{ data.git_url }}">{{ data.git_name }}</a>
        <summary>{{ data.long_desc }}</summary>
        <p class="language {{ data.lang_code }}">{{ data.language }}</p>
      </section>
    {% endfor %}

    <h2>All</h2>
    {% for title_key, title_value in DEV_ITEMS.items() %}
      {% if title_key != "highlights" %}
        <h3 class="code-inter-title">{{ DEV_TITLES[title_key] }}</h3>
        {% for key, data in DEV_ITEMS[title_key].items() %}
          <section class="code-stuff">
            <a class="github-link" href="{{ data.git_url }}">{{ data.git_name }}</a>
            <summary>{{ data.long_desc }}</summary>
            <p class="language {{ data.lang_code }}">{{ data.language }}</p>
          </section>
        {% endfor %}
      {% endif %}
    {% endfor %}
{% endblock %}
