{% extends "page.html" %}

{% block realcontent %}
  <div class="code-page">
    <h1>Code Stuff</h1>
    <p>This is an incomplete selection of my open-source projects.</p>

    <h2>Highlights</h2>
    <ul class="code-stuff">
      {% for key, data in DEV_ITEMS["highlights"].items() %}
      <li>
        <a class="github-link" href="{{ data.git_url }}">{{ data.git_name }}</a>
        <p>{{ data.long_desc }}</p>
        <p class="language {{ data.lang_code }}">{{ data.language }}</p>
      </li>
      {% endfor %}
    </ul>

    <h2>All</h2>
    {% for title_key, title_value in DEV_ITEMS.items() %}
    {% if title_key != "highlights" %}
    <h3>{{ DEV_TITLES[title_key] }}</h3>
    <ul class="code-stuff">
      {% for key, data in DEV_ITEMS[title_key].items() %}
      <li>
        <a class="github-link" href="{{ data.git_url }}">{{ data.git_name }}</a>
        <p>{{ data.long_desc }}</p>
        <p class="language {{ data.lang_code }}">{{ data.language }}</p>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
{% endblock %}
