{% extends "base.html" %}
<!-- goty_modern_page -->
{% block head %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@alixnovosi" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="twitter:desription" content="Come read the list!" />
  <meta name="twitter:image" content="{{ SITEURL }}/media/goty/trophy.jpg" />
  <title>{{page.title}}</title>
  {{ super() }}
{% endblock head %}

{% block body %}
  <header>
    {% block header %}
      {{ lib.goty_nav(page) }}
    {% endblock header %}
  </header>

  <main class="goty">
    {% block main %}
      {{ page.content }}
    {% endblock main %}
  </main>

  {{ lib.credit() }}
{% endblock body %}
