{% extends "base.html" %}

{% import '_lib.html' as lib with context %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang("home") %}
    {{ translations.entry_hreflang("home") }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="toybox">
    <h2>Javascript Toys</h2>
    <ul>
      {% for toy_name, data in TOYS.items() %}
      <li>
        <a href="{{data.page_name}}">
          <div class="linkbox">
            <h3>{{data.short_name}}</h3>
            <p>{{data.desc}}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}

{% block aside %}
  {{ lib.site_nav("home") }}
  {{ super() }}
{% endblock aside %}
