{% extends "page.html" %}

{% block realcontent %}
  <!--
  SVG icons from
  https://vorillaz.github.io/devicons/#/main,
  http://devicon.fr/ (defunct),
  and others.
  -->
  <section class="languages">
    {% for key, value in SKILL_INFO.items() %}
      <section class="language-section">
        <h3>{{ key }}</h3>
        {% for item in value %}
          <img
            src="{{ static }}/media/dev/{{ item.filename }}.svg"
            alt="{{ item.title }}"
            title="{{ item.title }}">
        {% endfor %}
      </section>
    {% endfor %}
  </section>
{% endblock %}
