body.home, .goty, .content, .game, .game .board-row, .game .board-row-spacer,
.game .game-info, .goty .top-three, .languages, .rest, .code-stuff li,
.booklist ul, .site-nav-goty ul {
  display: flex;
  flex-direction: row;
}

ol, ul, .code-stuff, .goty .honorable-mention, .media-list, .page, .top-ten,
.languages li, .languages li h3, .languages li .language-section,
.backlog-bracket li, .honorable-mention li, nav ul {
  display: flex;
  flex-direction: column;
}

a {
  color: #333355;
}

article {
  padding-right: 0.5em;
}

body, html {
  background-color: #EEEEFF;
  height: 100%;
  min-width: 800px;
}

body {
  flex: 10 auto;
}

footer {
  min-height: 2em;
  max-height: 2em;
}

header {
  flex: 2 auto;
}

img {
  height: auto;
  width: 100%;
}

main {
  flex: 100 auto;
}

nav {
  color: background;
}
nav a {
  color: inherit;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.booklist h1 {
  text-align: center;
}

.page-content, section.body {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #666699;
  justify-content: space-between;
  margin: 0 auto 1em auto;
  padding: 0.5em;
}
.page-content .read-more, section.body .read-more {
  line-height: 2;
  text-align: left;
  width: 50%;
}

.code-stuff {
  justify-content: space-between;
}
.code-stuff .github-link, .code-stuff .language {
  align-items: center;
  background-color: #9999BB;
  border: 1px solid #9999BB;
  color: #333355;
  display: flex;
  flex: 1 auto;
  margin: 0;
  padding: 0.5em;
}
.code-stuff .github-link {
  max-width: 9em;
  min-width: 9em;
}
.code-stuff .github-link:hover {
  background-color: #CCCCDD;
  border-color: #333355;
}
.code-stuff .language {
  max-width: 11em;
  min-width: 11em;
}
.code-stuff p {
  margin: 1em;
}

.content {
  flex: 1 auto;
}
.content article {
  flex: 5 auto;
  padding: 1em;
}
.content aside {
  flex: 1 auto;
  padding: 1em;
}

.game {
  background-color: #555577;
  border-radius: 10px;
  color: #EEEEFF;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 800px;
}
.game .board-entry-spacer {
  margin-right: 10px;
}
.game .board-row-spacer {
  margin-bottom: 5px;
}
.game .filled-square, .game .empty-square, .game .blocked-square,
.game .force-blocked-square {
  background-color: #EEEEFF;
  border: none;
  color: #666677;
  float: left;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game .filled-square, .game .empty-square {
  color: #333355;
}
.game .blocked-square, .game .force-blocked-square {
  background-color: #DEDEEF;
}
.game .force-blocked-square {
  color: #9999BB;
}
.game .filled-square {
  background-color: #666677;
}
.game .board-row, .game .board-row-spacer {
  list-style-type: none;
}
.game .game-board {
  margin: 1em;
}
.game .game-info {
  color: #333355;
  background-color: #EEEEFF;
  border-radius: 10px;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 34px;
  margin: 1em;
}
.game .game-info button {
  background-color: #BBBBDD;
  border: 1px solid #9999BB;
  padding: 0;
  width: 96px;
  height: 34px;
}
.game .game-info button:hover {
  background-color: #9999BB;
}
.game .game-info div {
  margin: 0 auto;
  padding: 1em;
}
.game .kbd-navigation .square:focus {
  background: #dddddd;
}
.game .top-hints {
  flex-direction: row;
}

.goty {
  text-align: center;
  justify-content: space-evenly;
}
.goty article {
  padding: 0 1em 0 0.5em;
}
.goty aside {
  border-left: 2px solid #333355;
  padding: 0 0.5em;
  width: 40%;
}
.goty .honorable-mention {
  align-items: stretch;
  border-top: 2px solid #333355;
}

.js-toy {
  flex: 20 auto;
}

.languages {
  justify-content: space-evenly;
}
.languages img {
  margin-bottom: 0.5em;
  width: 4.5em;
}

.page {
  justify-content: space-between;
}

.credit {
  border-top: 1px solid #666699;
  background-color: #FFFFFF;
  line-height: 2;
  padding-left: 2em;
}

.top-ten .rest {
  flex-wrap: wrap;
}

body.home {
  clear: both;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 90%;
  padding: 2.5em 1em 0;
}

.site-banner {
  background-color: #BBBBDD;
  flex: 1 100%;
  max-height: 5em;
  min-height: 5em;
  padding-left: 1em;
}
.site-banner h1 {
  vertical-align: center;
}

nav li {
  background-color: #333355;
  border: 1px solid #555577;
  flex: 1 auto;
}

ol li, ul li, .game li, .top-ten li {
  padding: 0;
}

.body li, .hentry li {
  border-top: 1px solid #666699;
}

.code-stuff li, .goty li {
  border: 1px solid #9999BB;
}

.game li {
  border: none;
  float: left;
  height: 34px;
  line-height: 34px;
  margin: 0 5px 5px 0;
  text-align: center;
  width: 34px;
}

.languages li {
  align-items: stretch;
}
.languages li h3, .languages li .language-section {
  align-items: center;
  padding: 0;
}

.honorable-mention li, .top-ten li {
  min-height: 5em;
}

.backlog-bracket li, .goty li, .honorable-mention li {
  align-items: center;
  background-color: #DDDDEE;
}

.backlog-bracket li {
  justify-content: space-around;
  height: 6em;
  width: 9em;
}

.booklist li {
  border: 1px solid #555577;
  flex: 1 auto;
  margin: 0.5em;
  max-width: 15em;
  min-width: 15em;
}

.code-stuff li {
  align-items: stretch;
  justify-content: space-between;
  text-align: center;
  margin: 0.5em 0.5em;
}

.goty li {
  color: #333355;
  margin: 0 0.25em 1em 0.25em;
  padding: 1em;
}

article .honorable-mention li {
  max-height: 60%;
  max-width: 60%;
}

aside .honorable-mention li {
  align-items: center;
  justify-content: space-around;
  height: 6em;
  width: 9em;
}

.goty article li {
  flex: 1 auto;
  margin: 0.25em;
  padding: 0;
}

.goty aside li {
  padding: 1em;
}

.goty .rest li {
  max-width: 27%;
}

.goty .top-three li {
  max-width: 33%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

header nav ul {
  margin: 0;
}

.backlog-bracket ol, .honorable-mention ul {
  align-items: center;
  padding-left: 0;
}

.booklist ul, .site-nav-goty ul {
  padding-left: 0;
}

.booklist ul {
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.content ul, .game ul, .goty ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.goty ol {
  list-style: inside decimal-leading-zero;
  justify-content: space-around;
}

.goty ul {
  align-items: center;
  justify-content: space-around;
}

.site-nav ul {
  margin-bottom: 1em;
}

a:hover {
  background-color: #BBBBDD;
}

a:visited {
  color: #000011;
}

nav a:visited {
  color: #EEEEFF;
}

nav a.active.default {
  background-color: #EEEEFF;
  color: #333355;
}

nav a.active.code {
  background-color: #77AA77;
  color: #333355;
}

nav a.active.skills {
  background-color: #7777AA;
  color: #333355;
}

nav a.active.about {
  background-color: #CC9966;
  color: #333355;
}

nav a.default:hover {
  background-color: #CCCCDD;
  color: #333355;
}

nav a.code:hover {
  background-color: #88BB88;
  color: #333355;
}

nav a.skills:hover {
  background-color: #8888BB;
  color: #333355;
}

nav a.about:hover {
  background-color: #DDAA77;
  color: #333355;
}

.site-banner a:hover {
  color: #EEEEFF;
}

.goty li:hover, .booklist li:hover {
  background-color: #BBBBDD;
}

.goty img, .booklist img {
  padding-bottom: 1em;
}

.entry-content img {
  width: 80%;
}

.zeldo {
  width: 500px;
}

section.body header {
  width: 100%;
}
section.body header, section.body footer {
  padding: 1em;
}
section.body footer {
  float: right;
  text-align: right;
  width: 40%;
}
section.body .entry-content {
  padding: 0 1em 0 1em;
}
