.site-nav-goty ul, .content, .credit, body.home, #app, .game .board-row, .game .board-row-spacer, .game, .goty, .goty-decade li, .rest, .top-three, .paginator, .article-body .post-info .times, .archive-article {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .game .game-info, .goty .honorable-mention, .goty li, .goty-decade .hack, .goty-decade ol, .top-ten, .author, .article-body .post-info > div, .article-body .post-info {
  display: flex;
  flex-direction: column;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .game .board-row, .game .board-row-spacer, .game, .goty, .goty-decade li, .rest, .top-three, .paginator, .article-body .post-info .times, .archive-article {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .game .game-info, .goty .honorable-mention, .goty li, .goty-decade .hack, .goty-decade ol, .top-ten, .author, .article-body .post-info > div, .article-body .post-info {
  display: flex;
  flex-direction: column;
}

.archive-article {
  align-items: top;
  border-color: #bbbbdd;
  border-top: 1px solid;
  justify-content: space-evenly;
  padding: 1em 0;
}

.archive-article .dates {
  max-width: 15%;
  min-width: 15%;
}

.archive-article div {
  align-self: center;
  min-width: 33%;
  text-align: left;
}

.archive-article .tags {
  max-width: 20%;
  min-width: 20%;
}

.article-author {
  border-radius: 5px;
  width: 100px;
}

.article-author.small {
  width: 60px;
}

.article-body ul {
  list-style-type: none;
  text-align: left;
}

.article-body, .page-content {
  background-color: #ffffff;
  border: 2px solid #9999bb;
  margin: 0 auto 1em auto;
  padding: 1em 2em;
}

.article-body .read-more, .page-content .read-more {
  line-height: 2;
  text-align: left;
  width: 50%;
}

.article-body header {
  text-align: center;
}

.article-body p {
  line-height: 1.3;
  text-align: justify;
}

.article-body .post-info {
  border-bottom: 2px solid #9999bb;
  font-size: 10pt;
  justify-content: space-between;
  min-height: 5em;
  padding-bottom: 0.5em;
}

.article-body .post-info .meta {
  align-self: end;
  align-items: end;
  justify-content: space-between;
  max-width: 33%;
  padding-bottom: 1em;
  text-align: right;
}

.article-body .post-info .times {
  justify-content: space-between;
}

.author {
  align-items: end;
  justify-content: space-around;
}

.author img {
  border: 1px solid #9999bb;
  border-radius: 5px;
  float: right;
  vertical-align: middle;
}

.entry-content blockquote, .entry-content img {
  display: block;
  padding: 1em;
  margin: 0 auto;
  max-width: 80%;
}

.entry-content blockquote {
  border: 1px solid #bbbbdd;
}

.entry-content img {
  width: 100%;
}

.hentry li {
  border-top: 1px solid #666699;
}

.hentry .entry-content {
  text-align: justify;
}

.hentry .post-info {
  border-bottom: 2px solid #9999bb;
  padding-bottom: 0.75em;
}

.paginator {
  border-top: 3px solid #bbbbdd;
  font-size: 24px;
  justify-content: space-between;
  padding: 0.5em;
}

.post-list {
  list-style-type: none;
}

.post-list li {
  border-top: 4px solid #bbbbdd;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .game .board-row, .game .board-row-spacer, .game, .goty, .goty-decade li, .rest, .top-three, .archive-article, .article-body .post-info .times, .paginator {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .game .game-info, .goty .honorable-mention, .goty li, .goty-decade .hack, .goty-decade ol, .top-ten, .article-body .post-info, .article-body .post-info > div, .author {
  display: flex;
  flex-direction: column;
}

.code-page {
  text-align: center;
}

.code-stuff {
  align-items: center;
  border: 1px solid #000011;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 150px auto 175px;
  grid-template-rows: 80px;
  margin-bottom: 0.5em;
}

.code-stuff summary {
  list-style-type: none;
  padding: 0.5em;
}

.code-stuff .github-link, .code-stuff .language {
  background-color: #9999bb;
  color: #333355;
  height: 80px;
  line-height: 80px;
}

.code-stuff .github-link:hover {
  background-color: #ccccdd;
}

.code-stuff .TypeScript {
  color: #000011;
  background-color: #2b7489;
}

.code-stuff .Shell {
  color: #000011;
  background-color: #89e051;
}

.code-stuff .Bash {
  color: #000011;
  background-color: #89e051;
}

.code-stuff .Go {
  color: #000011;
  background-color: #375eab;
}

.code-stuff .Java {
  color: #000011;
  background-color: #b07219;
}

.code-stuff .Scala {
  color: #000011;
  background-color: #DC322F;
}

.code-stuff .Makefile {
  color: #000011;
  background-color: #427819;
}

.code-stuff .Lua {
  color: #000011;
  background-color: #000080;
}

.code-stuff .Vue {
  color: #000011;
  background-color: #2c3e50;
}

.code-stuff .HTML {
  color: #000011;
  background-color: #e44b23;
}

.code-stuff .HTML5 {
  color: #000011;
  background-color: #e44b23;
}

.code-stuff .Rust {
  color: #000011;
  background-color: #dea584;
}

.code-stuff .CSS {
  color: #000011;
  background-color: #563d7c;
}

.code-stuff .TeX {
  color: #000011;
  background-color: #3D6117;
}

.code-stuff .JavaScript {
  color: #000011;
  background-color: #f1e05a;
}

.code-stuff .VimL {
  color: #000011;
  background-color: #199f4b;
}

.code-stuff .Python {
  color: #000011;
  background-color: #3572A5;
}

.code-stuff .Haskell {
  color: #000011;
  background-color: #29b544;
}

.code-stuff .Lua, .code-stuff .Vue {
  color: #eeeeff;
}

.language-section {
  display: grid;
  gap: 1em 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(4.5em, auto));
  grid-template-rows: repeat(auto-fill, minmax(4.5em, auto));
}

.language-section h3 {
  grid-column: 1 / 3;
  text-align: center;
}

.language-section img {
  width: 4.5em;
}

.languages {
  display: grid;
  gap: 0 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .game .board-row, .game .board-row-spacer, .game, .goty, .goty-decade li, .rest, .top-three, .archive-article, .article-body .post-info .times, .paginator {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .game .game-info, .goty .honorable-mention, .goty li, .goty-decade .hack, .goty-decade ol, .top-ten, .article-body .post-info, .article-body .post-info > div, .author {
  display: flex;
  flex-direction: column;
}

.backlog-bracket ol, .honorable-mention ul {
  align-items: center;
}

article .honorable-mention li {
  min-width: 70%;
  max-width: 70%;
  padding: 0.5em;
}

aside .honorable-mention li {
  max-width: 80%;
  min-width: 10em;
  width: 80%;
}

.goty article li {
  margin: 0.25em;
}

.goty .rest li {
  max-width: 27%;
  min-width: 27%;
}

.goty .top-three li {
  max-width: 33%;
  min-width: 33%;
}

.goty-decade ol {
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.goty-decade li {
  border: 5px solid #bbbbdd;
  list-style-type: none;
  margin: 10px 0;
  max-height: 250px;
  overflow: hidden;
  text-align: center;
}

.goty-decade li img {
  height: 250px;
  width: 600px;
}

.backlog-bracket li {
  justify-content: space-around;
  height: 6em;
  max-width: 80%;
  min-width: 10em;
  width: 80%;
}

.goty ol, .goty ul {
  padding: 0 1em;
  justify-content: space-around;
}

.goty ol {
  list-style: inside decimal-leading-zero;
}

.goty ul {
  margin: 0;
  text-align: center;
}

.goty ul {
  list-style-type: none;
}

.goty-decade h2, .goty-decade h5 {
  text-align: center;
}

.goty-decade .hack {
  background-color: #eeeeff;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0.5em 0;
}

.goty-decade .hack h2 {
  margin: 0 1em;
}

.goty-modern, .goty-backfilled {
  margin: 0 auto;
  max-width: 1024px;
}

a.soundtrack {
  border-top: 1px solid #333355;
  padding: 0.5em 0 0;
  width: 80%;
}

.goty li {
  align-items: center;
  background-color: #ddddee;
  border: 1px solid #9999bb;
  color: #333355;
  flex: 1 auto;
  justify-content: space-between;
  height: auto;
  margin: 0 0.25em 1em 0.25em;
  padding: 0.75em 0;
}

.goty {
  text-align: center;
  justify-content: space-evenly;
}

.goty article {
  padding: 0 1em 0 0.5em;
}

.goty aside {
  border-left: 2px solid #333355;
  padding: 0 0.5em;
  width: 40%;
}

.goty .honorable-mention {
  align-items: stretch;
  border-top: 2px solid #333355;
  justify-content: space-around;
}

.goty .honorable-mention li {
  padding: 0.5em;
}

.goty .rest {
  flex-wrap: wrap;
}

.goty-decade .goty-backfilled li:hover {
  background-color: #dbdbfb;
}

.goty li:hover, .booklist li:hover, .goty-decade li:hover {
  background-color: #bbbbdd;
}

.goty img {
  padding-bottom: 1em;
  width: 100%;
}

.lol-2020 {
  display: grid;
  gap: 1.5em 3em;
  grid-template-columns: repeat(4, auto);
  height: 500px;
  padding: 1em;
  width: 100%;
}

.lol-2020 .lol-2020-tile {
  border: 2px solid #000011;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  text-align: center;
}

.lol-2020 .lol-2020-tile a {
  display: inline-block;
  height: 300px;
  width: 100%;
}

.lol-2020 .lol-2020-tile:nth-child(2) {
  grid-column-start: 3;
}

.lol-2020 .lol-2020-tile:nth-child(3) {
  grid-column-start: 2;
}

.lol-2020 .lol-2020-tile:nth-child(4) {
  grid-column-start: 4;
}

.lol-2020 img {
  height: 300px;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .game .board-row, .game .board-row-spacer, .game, .archive-article, .article-body .post-info .times, .paginator, .rest, .top-three, .goty-decade li, .goty {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .game .game-info, .article-body .post-info, .article-body .post-info > div, .author, .top-ten, .goty-decade ol, .goty-decade .hack, .goty li, .goty .honorable-mention {
  display: flex;
  flex-direction: column;
}

.game ul {
  margin: 0;
  text-align: center;
}

.game ul {
  list-style-type: none;
}

.game li {
  border: none;
  float: left;
  height: 34px;
  line-height: 34px;
  margin: 0 5px 5px 0;
  width: 34px;
}

.game {
  background-color: #555577;
  border-radius: 10px;
  color: #eeeeff;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 800px;
}

.game .board-entry-spacer {
  margin-right: 10px;
}

.game .board-row-spacer {
  margin-bottom: 5px;
}

.game .filled-square, .game .empty-square, .game .blocked-square, .game .force-blocked-square {
  background-color: #eeeeff;
  border: none;
  color: #333355;
  float: left;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.game .filled-square, .game .empty-square {
  color: #333355;
}

.game .blocked-square, .game .force-blocked-square {
  background-color: #bbbbdd;
}

.game .force-blocked-square {
  color: #9999bb;
}

.game .filled-square {
  background-color: #9999bb;
}

.game .game-board {
  margin: 1em;
}

.game .game-info {
  color: #333355;
  background-color: #eeeeff;
  border-radius: 10px;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  line-height: 34px;
  margin: 1em;
}

.game .game-info button {
  background-color: #bbbbdd;
  border: 1px solid #9999bb;
  padding: 0;
  width: 96px;
  height: 34px;
}

.game .game-info button:hover {
  background-color: #9999bb;
}

.game .game-info div {
  margin: 0 auto;
  padding: 1em;
}

.game .kbd-navigation .square:focus {
  background: #9999bb;
}

.game .top-hints {
  flex-direction: row;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .archive-article, .article-body .post-info .times, .paginator, .rest, .top-three, .goty-decade li, .goty, .game, .game .board-row, .game .board-row-spacer {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .article-body .post-info, .article-body .post-info > div, .author, .top-ten, .goty-decade ol, .goty-decade .hack, .goty li, .goty .honorable-mention, .game .game-info {
  display: flex;
  flex-direction: column;
}

.art-tile-category.demo {
  background-color: #FFFFFF;
}

.art-tile-category.category1 {
  background-color: #C7C5C2;
}

.art-tile-category.category2 {
  background-color: #1F79A1;
}

.gallery-section {
  display: grid;
  justify-content: center;
}

.gallery-section h3 {
  grid-column: 1 / -1;
}

.pfp-art .art-tile, .pfp-art img {
  width: 250px;
}

.pfp-art.gallery-section {
  gap: 1em 5em;
  grid-template-columns: repeat(auto-fill, 284px);
}

.fullbody-art .art-tile, .fullbody-art img {
  width: 350px;
}

.fullbody-art.gallery-section {
  gap: 1em 3em;
  grid-template-columns: repeat(auto-fill, 384px);
}

.art-tile {
  display: grid;
  gap: 0;
  grid-template-columns: auto 10px;
}

.art-tile-art {
  border-bottom: none;
  border-top-left-radius: 5px;
  height: 100%;
}

.art-tile-art, .art-info-container {
  border: 2px solid #000011;
  grid-column: 1 / 2;
}

.art-info-container {
  background-color: #dbdbfb;
  border: 2px solid #000011;
  border-bottom-left-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 50%));
  grid-row: 2 / span 1;
}

.art-info-tile {
  border-top: 2px solid #000011;
  display: grid;
  grid-template-columns: repeat(auto-fill, 3);
  height: 100%;
  line-height: 2;
  padding: 0 10px;
  text-align: left;
}

.art-info-tile a {
  display: inline-block;
  margin: 0;
  margin-left: -10px;
  padding-left: 10px;
  width: 100%;
}

.art-tile-category {
  border: 2px solid #000011;
  /* fuck */
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  height: 101%;
  line-height: 2rem;
  text-align: center;
  width: 30px;
  writing-mode: sideways-lr;
}

.ocgallery-container {
  min-width: 800px;
}

.ocgallery-container h2, .ocgallery-container h3 {
  text-align: center;
}

.ocgallery-container h3 {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.site-nav-goty ul, .content, .credit, body.home, #app, .archive-article, .article-body .post-info .times, .paginator, .rest, .top-three, .goty-decade li, .goty, .game, .game .board-row, .game .board-row-spacer {
  display: flex;
  flex-direction: row;
}

nav ul, .media-list, .page, .about-text, ol, ul, .js-toy, .article-body .post-info, .article-body .post-info > div, .author, .top-ten, .goty-decade ol, .goty-decade .hack, .goty li, .goty .honorable-mention, .game .game-info {
  display: flex;
  flex-direction: column;
}

#app {
  justify-content: center;
}

.js-toy {
  flex: 20 auto;
  justify-content: space-between;
}

.js-toy .game {
  margin: 1em;
}

.toybox h2, .toybox h3, .toybox p, .toybox ul {
  text-align: center;
}

.toybox .linkbox {
  border: 1px solid #9999bb;
  border-radius: 5px;
  padding: 0 0.5em;
}

.toybox .linkbox:hover {
  background-color: #9999bb;
}

.toybox ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  row-gap: 1em;
  column-gap: 1em;
}

.toybox ul li {
  list-style-type: none;
}

.toy-credit {
  background: url(/theme/images/palm-leaf.png) #9999bb;
  border-top: 2px solid #9999bb;
  font-size: 14px;
  line-height: 2;
  padding: 0 0.5em;
}

a {
  color: #333355;
}

article {
  padding-right: 0.5em;
}

body, html {
  background-color: #eeeeff;
  font: sans-serif;
  height: 100%;
  min-width: 800px;
}

body, main {
  flex: 10 auto;
}

.toy-credit a, footer.credit a {
  display: inline-block;
  height: 100%;
}

header {
  flex: 2 auto;
}

img {
  height: auto;
}

nav a {
  color: #eeeeff;
  display: block;
  padding: 1em;
  text-decoration: none;
}

p {
  color: #000011;
}

body.page {
  background: url(/theme/images/palm-leaf.png) #9999bb;
}

body.home {
  clear: both;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 90%;
  padding: 2.5em 1em 0;
}

.about-image {
  border: 2px solid #9999bb;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
}

.about_profile {
  border: 2px solid #000011;
  border-radius: 10px;
  width: 100px;
}

.about-text {
  align-items: start;
}

.booklist h1 {
  text-align: center;
}

.content aside {
  background: url(/theme/images/palm-leaf.png) #9999bb;
  width: 100px;
}

.content article, .content aside {
  padding: 1em;
}

.content article {
  background-color: #eeeeff;
  border: 2px solid #9999bb;
  border-radius: 5px;
  flex: 5 auto;
  margin-left: 0.5em;
}

.content .media-list {
  margin: 0 auto;
  text-align: justify;
}

.credit {
  background: url(/theme/images/palm-leaf.png) #9999bb;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-between;
  line-height: 2;
}

.credit address {
  padding: 0 1em;
}

.page, body.home {
  justify-content: space-between;
}

.site-banner {
  flex: 1 100%;
  max-height: 5em;
  min-height: 5em;
  padding-left: 1em;
}

nav li {
  color: #eeeeff;
  background-color: #333355;
  border: 1px solid #555577;
  flex: 1 auto;
  font-size: 14px;
}

ol li, ul li, .game li {
  padding: 0;
}

.body li {
  border-top: 1px solid #666699;
}

nav li:visited {
  color: #eeeeff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 100%;
}

header nav ul {
  margin: 0;
}

.content ul {
  margin: 0;
  text-align: center;
}

.site-nav ul {
  margin-bottom: 1em;
}

a:hover {
  background-color: #bbbbdd;
}

a:visited {
  color: #000011;
}

nav a:hover {
  color: #333355;
}

nav a:visited {
  color: #eeeeff;
}

nav a.active.default {
  color: #333355;
  background-color: #eeeeff;
}

nav a.active.dev {
  color: #333355;
  background-color: #aa7777;
}

nav a.active.skills {
  color: #333355;
  background-color: #77aa77;
}

nav a.active.about {
  color: #333355;
  background-color: #7777aa;
}

nav a.active.toybox {
  color: #333355;
  background-color: #cc9966;
}

nav a.active.ocgallery {
  color: #333355;
  background-color: #886688;
}

nav a.default:hover {
  color: #333355;
  background-color: #ccccdd;
}

nav a.dev:hover {
  color: #333355;
  background-color: #bb8888;
}

nav a.skills:hover {
  color: #333355;
  background-color: #88bb88;
}

nav a.about:hover {
  color: #333355;
  background-color: #8888bb;
}

nav a.toybox:hover {
  color: #333355;
  background-color: #ddaa77;
}

nav a.ocgallery:hover {
  color: #333355;
  background-color: #997799;
}

nav a.blog:hover {
  color: #333355;
  background-color: #bb8888;
}

nav a.goty:hover {
  color: #333355;
  background-color: #88bb88;
}

nav a.goty2010s:hover {
  color: #333355;
  background-color: #88bb88;
}

nav a.books:hover {
  color: #333355;
  background-color: #8888bb;
}

nav a.github:hover {
  color: #333355;
  background-color: #bb8888;
}

nav a.itchio:hover {
  color: #333355;
  background-color: #88bb88;
}

nav a.twitch:hover {
  color: #333355;
  background-color: #ddaa77;
}

nav a.youtube:hover {
  color: #333355;
  background-color: #997799;
}

.bookpage {
  display: grid;
}

.bookpage h2 {
  text-align: center;
}

.booklist {
  display: grid;
  gap: 1.5em 3em;
  grid-template-columns: repeat(6, auto);
  justify-self: center;
  padding-bottom: 1em;
}

.booklist a {
  border: 1px solid #000011;
  border-radius: 5px;
  width: 14em;
  padding-bottom: 1em;
  grid-column-end: span 2;
}

.booklist a:nth-child(4) {
  grid-column-start: 2;
}

.booklist img {
  width: 100%;
}

.media-list img {
  width: 500px;
}

.site-banner a:hover {
  background: transparent;
  color: #555577;
}
