main.content, .code-stuff li, .languages, .top-three, .rest, body.home,
.site-nav-goty ul, .goty {
  display: flex;
  flex-direction: row;
}

.github-link, .code-stuff, .language, .language-section, .media-list,
.nonogram-container, .social-list, .top-ten, .site-nav ul, .social ul {
  display: flex;
  flex-direction: column;
}

body.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  flex: 10 auto;
}

body, html {
  background-color: #EEEEFF;
  height: 100%;
  width: 100%;
}

footer {
  min-height: 2em;
  max-height: 2em;
}

header {
  flex: 2 auto;
}

main {
  flex: 100 auto;
}

nav a {
  text-decoration: none;
}

span.small-caps {
  font-variant: small-caps;
}

ul li a {
  text-align: center;
}

nav li a {
  display: block;
  padding: 1em;
}

a:hover {
  background-color: #BBBBDD;
}

a:visited {
  color: #000022;
  background-color: #BBBBDD;
}

.goty a {
  padding: 0;
}

nav a:hover {
  background-color: #BB8888;
}

nav a:visited {
  text-decoration: none;
}

nav ul {
  width: 100%;
}
nav ul li {
  flex: 1 auto;
}

nav ul, .content ul, .goty ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

.goty li, .goty li a {
  background-color: #DDDDEE;
  color: #444455;
}

header h1 a:hover {
  background-color: #EEEEFF;
  color: #BB8888;
}

header h1 a:visited {
  background-color: #EEEEFF;
}

li header a:visited {
  color: #000022;
}

aside .backlog-bracket li a, aside .honorable-mention li a {
  display: block;
  padding: 1em;
}

.site-nav ul li a, .site-nav-goty ul li a, .social ul li a {
  color: #EEEEFF;
}

header.site-banner h1 a {
  background-color: #BBBBDD;
  color: #333355;
}

.goty .backlog-bracket a {
  padding: 1em;
}

.code-stuff li a:hover {
  background-color: #9999BB;
}

.github-link {
  background-color: #DDDDEE;
  color: #444455;
}

header.site-banner h1 a:visited {
  background-color: #BBBBDD;
  color: #333355;
}

.github-link:hover {
  background-color: #BBBBDD;
}

header.site-banner {
  background-color: #BBBBDD;
  box-shadow: 3px -3px 5px #000022;
  flex: 1 100%;
  max-height: 5em;
  min-height: 5em;
  padding-left: 1em;
}
header.site-banner h1 {
  vertical-align: center;
}
header.site-banner h1 a:hover {
  color: #EEEEFF;
}

.goty aside {
  border-left: 2px solid #333355;
  padding-top: 0;
  width: 40%;
}

main.content {
  flex: 1 auto;
}
main.content article {
  flex: 5 auto;
  padding: 1em;
}
main.content aside {
  flex: 1 auto;
  padding: 1em;
}

.code-stuff li {
  justify-content: space-between;
}

.language-section li {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.links nav {
  padding-bottom: 1em;
}

.languages {
  justify-content: space-around;
}
.languages ul {
  margin: 1em;
  text-align: center;
}

.site-home {
  background-color: #555577;
}

.links li, .site-nav-goty li {
  border: 1px solid #333355;
  border-top: 1px solid #000022;
}

.hentry header {
  border-top: 1px solid #000022;
}

.site-nav ul li a:visited, .site-nav-goty ul li a:visited, .social ul li a:visited {
  color: #EEEEFF;
}

body.home {
  clear: both;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 90%;
  padding: 2.5em 1em 0;
}

.pelican {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px #000022;
  line-height: 2;
  padding-left: 2em;
}

.code-stuff li, .goty li {
  border: 1px solid #9999BB;
  margin: 0.5em;
}

.body li, .hentry li {
  border-top: 1px solid #666699;
}

.game li {
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.top-ten li {
  padding: 0;
}

section.body li {
  border-top: 1px solid #666699;
}

.goty ol li {
  padding: 0.5em inherit 0 inherit;
}

.links ul li, .site-nav-goty ul li {
  background-color: #333355;
}
.links ul li a:hover, .site-nav-goty ul li a:hover {
  color: #333355;
}
.links ul li a.active.name, .site-nav-goty ul li a.active.name {
  background-color: #EEEEFF;
}
.links ul li a.active.code, .site-nav-goty ul li a.active.code {
  background-color: #77AA77;
}
.links ul li a.active.skills, .site-nav-goty ul li a.active.skills {
  background-color: #7777AA;
}
.links ul li a.active.about, .site-nav-goty ul li a.active.about {
  background-color: #CC9966;
}
.links ul li a.name:hover, .site-nav-goty ul li a.name:hover {
  background-color: #CCCCDD;
  color: #333355;
}
.links ul li a.blog:hover, .site-nav-goty ul li a.blog:hover {
  background-color: #BB8888;
  color: #333355;
}
.links ul li a.code:hover, .site-nav-goty ul li a.code:hover {
  background-color: #88BB88;
  color: #333355;
}
.links ul li a.skills:hover, .site-nav-goty ul li a.skills:hover {
  background-color: #8888BB;
  color: #333355;
}
.links ul li a.about:hover, .site-nav-goty ul li a.about:hover {
  background-color: #DDAA77;
  color: #333355;
}

.goty .backlog-bracket li {
  padding: 0;
}

.hentry li:hover, section.body li:hover {
  border-top-color: #FFFFFF;
}

section.body header {
  width: 100%;
}
section.body header, section.body footer {
  padding: 1em;
}
section.body footer {
  float: right;
  text-align: right;
  width: 40%;
}
section.body .entry-content {
  padding: 0 1em 0 1em;
}

.language {
  background-color: #DDDDEE;
  color: #444455;
  margin: 0;
}

.code-stuff p, .code-stuff .language {
  padding: 1em;
}

.code-stuff .github-link, .code-stuff .language {
  display: flex;
  justify-content: space-around;
  min-width: 11em;
}

.entry-content img {
  width: 80%;
}

.game {
  background-color: #333355;
  border-radius: 10px;
  color: #EEEEFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 800px;
}
.game .board-entry {
  margin: 0 5px 5px 0;
}
.game .board-entry-spacer {
  margin: 0 10px 5px 0;
}
.game .board-row {
  margin: 0;
}
.game .board-row-spacer {
  margin: 0 0 5px 0;
}
.game .filled-square, .game .empty-square, .game .blocked-square,
.game .force-blocked-square {
  background-color: #EEEEFF;
  border: none;
  color: #666677;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game .filled-square, .game .empty-square {
  color: #333355;
}
.game .force-blocked-square {
  background-color: #DEDEEF;
  color: #9999BB;
}
.game .blocked-square {
  background-color: #DEDEEF;
}
.game .filled-square {
  background-color: #666677;
}
.game .board-row, .game .board-row-spacer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.game .game-board {
  margin: 1em;
}
.game .game-info {
  color: #333355;
  background-color: #EEEEFF;
  border-radius: 10px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  line-height: 34px;
  margin: 1em;
}
.game .game-info button {
  background-color: #9999BB;
  border: none;
  font-size: 18px;
  padding: 0;
  width: 96px;
  height: 34px;
}
.game .game-info div {
  margin: 0 auto;
  padding: 1em;
}
.game .kbd-navigation .square:focus {
  background: #dddddd;
}
.game .top-hints {
  flex-direction: row;
}

.goty article .honorable-mention li {
  margin: 0 auto;
  max-height: 60%;
  max-width: 60%;
}

.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
  max-width: 33%;
}

.goty .top-ten .rest li {
  max-width: 25%;
}

main.content .goty aside .honorable-mention li {
  min-height: 69px;
  min-width: 69px;
}

.goty {
  text-align: center;
}
.goty img {
  height: auto;
  width: 100%;
}
.goty ol {
  list-style: inside decimal-leading-zero;
}
.goty ol, .goty ul {
  justify-content: space-around;
  padding: 0 1em 0 1em;
}
.goty .honorable-mention {
  border-top: 2px solid #333355;
}
.goty .top-ten .rest {
  flex-wrap: wrap;
}

.icon {
  height: 4.5em;
}

.nonogram-container {
  margin: 0 auto;
  min-width: 30%;
  padding: 1em;
}
.nonogram-container textarea {
  border: 0;
  height: 10em;
  text-align: center;
}

.page-content, section.body {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #666699;
  justify-content: space-between;
  margin: 0 auto 1em auto;
  padding: 0.5em;
}
.page-content .read-more, section.body .read-more {
  line-height: 2;
  text-align: left;
  width: 50%;
}

.site-nav ul, .site-nav-goty ul, .social ul {
  padding: 0;
}

.zeldo {
  width: 700px;
}
.zeldo img {
  width: 400px;
}
