.languages, main, .site-nav ul, body.home, .code-stuff li,
.goty .top-ten .top-three, .goty .top-ten .rest {
  display: flex;
  flex-direction: row;
}
article, aside, .language-section, .media-list, .nonogram-container, .social-list,
section.body footer, .code-stuff, .code-stuff .github-link, .code-stuff .language,
.goty .top-ten {
  display: flex;
  flex-direction: column;
}
a {
  color: #000022;
  text-align: center;
  text-decoration: underline;
}
article {
  flex-grow: 10;
  padding: 0 1em 0 1em;
}
article .languages h3 {
  text-align: center;
}
aside {
  clear: both;
  float: right;
  max-width: 20%;
  padding-top: 2em;
}
li {
  flex-grow: 1;
}
nav {
  width: 100%;
}
ol, ul {
  list-style-type: none;
  margin: 0;
}
header h1 a {
  background-color: #EEEEFF;
  color: #000022;
}
nav li a {
  display: block;
  padding: 1em;
}
li header a {
  color: #000022;
}
.goty a {
  padding: 0;
}
a:hover {
  background-color: #BB8888;
}
a:visited {
  color: #000022;
}
.goty li, .goty li a {
  background-color: #DDDDEE;
  color: #444444;
}
.social-list li a {
  border: 1px solid #444455;
  color: #444455;
  padding: 25px;
  text-decoration: none;
}
li header a:visited {
  color: #000022;
}
aside .backlog-bracket li a, aside .honorable-mention li a {
  display: block;
  padding: 1em;
}
.site-nav {
  border: 1px solid #000022;
  justify-content: space-between;
  margin: 0 auto 1em auto;
}
header h1 a:visited {
  background-color: #EEEEFF;
}
.site-home {
  background-color: #555577;
}
header h1 a:hover {
  color: #BB8888;
}
html, header h1 a:hover {
  background-color: #EEEEFF;
}
.hentry header {
  border-top: 1px solid #000022;
}
.site-nav ul li a {
  color: #EEEEFF;
  text-decoration: none;
}
.site-home a:hover {
  background-color: #BBBBCC;
}
.github-link {
  background-color: #DDDDEE;
  color: #444444;
}
.github-link:hover, .goty a:hover {
  background-color: #BBBBCC;
}
.goty .backlog-bracket a {
  padding: 1em;
}
.social-list li a:hover {
  background-color: #DDDDEE;
}
.site-nav ul li a:visited {
  color: #EEEEFF;
  text-decoration: none;
}
body.home {
  clear: both;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 90%;
  padding: 2.5em 1em 0;
}
.site-nav, #contentinfo {
  box-shadow: 3px 3px 5px #000022;
}
#contentinfo {
  background-color: #FFFFFF;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}
.code-stuff li {
  justify-content: space-between;
}
.code-stuff li, .goty li {
  border: 1px solid #BBBBCC;
  margin: 0.5em;
}
.hentry li {
  border-top: 1px solid #666699;
}
.top-ten li {
  padding: 0;
}
nav li:hover {
  box-shadow: 3px 3px 5px #000022;
}
section.body li {
  border-top: 1px solid #666699;
}
.goty ol li {
  padding: 0.5em inherit 0 inherit;
}
.site-nav ul li {
  background-color: #333355;
}
.site-nav ul li a:hover {
  color: #333355;
}
.site-nav ul li a.active.name {
  background-color: #EEEEFF;
}
.site-nav ul li a.active.code {
  background-color: #77AA77;
}
.site-nav ul li a.active.skills {
  background-color: #7777AA;
}
.site-nav ul li a.active.about {
  background-color: #CC9966;
}
.site-nav ul li a.name:hover {
  background-color: #CCCCDD;
  color: #333355;
}
.site-nav ul li a.blog:hover {
  background-color: #BB8888;
  color: #333355;
}
.site-nav ul li a.code:hover {
  background-color: #88BB88;
  color: #333355;
}
.site-nav ul li a.skills:hover {
  background-color: #8888BB;
  color: #333355;
}
.site-nav ul li a.about:hover {
  background-color: #DDAA77;
  color: #333355;
}
.goty .backlog-bracket li {
  padding: 0;
}
.hentry li:hover, section.body li:hover {
  border-top-color: #FFFFFF;
}
section.body header {
  width: 100%;
}
section.body header, section.body footer {
  padding: 1em;
}
section.body footer {
  float: right;
  text-align: right;
  width: 40%;
}
section.body footer .published, section.body footer .modified {
  font-style: italic;
}
section.body footer .published::before {
  content: "published @ ";
  font-style: oblique;
}
section.body footer .modified::before {
  content: "updated @ ";
  font-style: oblique;
}
section.body .entry-content {
  padding: 0 1em 0 1em;
}
.language {
  background-color: #DDDDEE;
  color: #444444;
  margin: 0;
}
.code-stuff p, .code-stuff .language {
  padding: 1em;
}
.code-stuff .github-link, .code-stuff .language {
  display: flex;
  justify-content: space-around;
  min-width: 11em;
}
.entry-content img {
  width: 80%;
}
.goty {
  text-align: center;
}
.goty article .honorable-mention li {
  margin: 0 auto;
  max-height: 60%;
  max-width: 60%;
}
.goty aside {
  border-left: 2px solid #333355;
  padding-top: 0;
  width: 40%;
}
.goty aside .honorable-mention li {
  min-height: 69px;
  min-width: 69px;
}
.goty img {
  height: auto;
  width: 100%;
}
.goty ol {
  list-style: inside decimal-leading-zero;
}
.goty ol, .goty ul {
  justify-content: space-around;
  padding: 0 1em 0 1em;
}
.goty .honorable-mention {
  border-top: 2px solid #333355;
}
.goty .top-ten .rest li {
  max-width: 25%;
}
.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
  max-width: 33%;
}
.goty .top-ten .rest {
  flex-wrap: wrap;
}
.icon {
  color: #000022;
  margin-right: 0.5em;
  width: 2em;
}
.nonogram-container {
  margin: 0 auto;
  min-width: 30%;
  padding: 1em;
}
.nonogram-container textarea {
  border: 0;
  height: 10em;
  text-align: center;
}
.site-nav ul {
  list-style-type: none;
  padding: 0;
}
.social {
  height: 60%;
}
.unix {
  font-variant: small-caps;
}
.zeldo {
  margin: 0;
  width: 700px;
}
.zeldo img {
  width: 400px;
}
#content {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #666699;
  justify-content: space-between;
  margin: 0 auto 1em auto;
  padding: 0.5em;
}
#content .read-more {
  line-height: 30px;
  text-align: left;
  width: 30%;
}
