main, .languages, .top-three, .rest, .site-nav ul, body.home, .code-stuff li {
  display: flex;
  flex-direction: row;
}

article, aside, footer, .code-stuff, .github-link, .language-section, .media-list,
.nonogram-container, .social-list, .language, .top-ten {
  display: flex;
  flex-direction: column;
}

a {
  color: #000022;
  text-align: center;
  text-decoration: underline;
}

article {
  flex-grow: 10;
  padding: 0 1em 0 1em;
}
article .languages h3 {
  text-align: center;
}

aside {
  clear: both;
  float: right;
  max-width: 20%;
  padding-top: 2em;
}

li {
  flex-grow: 1;
}

nav {
  width: 100%;
}

nav a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  margin: 0;
}

header h1 a {
  background-color: #EEEEFF;
}

nav li a {
  display: block;
  padding: 1em;
}

.site-home {
  background-color: #555577;
}

.goty a {
  padding: 0;
}

a:hover {
  background-color: #BBBBCC;
}

a:visited {
  color: #000022;
}

nav a:hover {
  background-color: #BB8888;
}

nav a:visited {
  text-decoration: none;
}

.goty li, .goty li a {
  background-color: #DDDDEE;
  color: #444444;
}

.social-list li a {
  border: 1px solid #444455;
  color: #444455;
  padding: 25px;
}

li header a:visited {
  color: #000022;
}

aside .backlog-bracket li a, aside .honorable-mention li a {
  display: block;
  padding: 1em;
}

.site-nav {
  border: 1px solid #000022;
  justify-content: space-between;
  margin: 0 auto 1em auto;
}

header h1 a:hover {
  color: #BB8888;
}

header h1 a:visited {
  background-color: #EEEEFF;
}

html, header h1 a:hover {
  background-color: #EEEEFF;
}

.hentry header {
  border-top: 1px solid #000022;
}

.site-nav ul li a {
  color: #EEEEFF;
}

.site-home a:hover {
  background-color: #BBBBCC;
}

.github-link {
  background-color: #DDDDEE;
  color: #444444;
}

.github-link:hover, .goty a:hover {
  background-color: #BBBBCC;
}

.goty .backlog-bracket a {
  padding: 1em;
}

.social-list li a:hover {
  background-color: #DDDDEE;
}

.site-nav ul li a:visited {
  color: #EEEEFF;
}

body.home {
  clear: both;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 90%;
  padding: 2.5em 1em 0;
}

.site-nav, #contentinfo {
  box-shadow: 3px 3px 5px #000022;
}

#contentinfo {
  background-color: #FFFFFF;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}

.code-stuff li {
  justify-content: space-between;
}

.code-stuff li, .goty li {
  border: 1px solid #BBBBCC;
  margin: 0.5em;
}

.body li, .hentry li {
  border-top: 1px solid #666699;
}

.game li {
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.top-ten li {
  padding: 0;
}

section.body li {
  border-top: 1px solid #666699;
}

.goty ol li {
  padding: 0.5em inherit 0 inherit;
}

.site-nav ul li {
  background-color: #333355;
}
.site-nav ul li a:hover {
  color: #333355;
}
.site-nav ul li a.active.name {
  background-color: #EEEEFF;
}
.site-nav ul li a.active.code {
  background-color: #77AA77;
}
.site-nav ul li a.active.skills {
  background-color: #7777AA;
}
.site-nav ul li a.active.about {
  background-color: #CC9966;
}
.site-nav ul li a.name:hover {
  background-color: #CCCCDD;
  color: #333355;
}
.site-nav ul li a.blog:hover {
  background-color: #BB8888;
  color: #333355;
}
.site-nav ul li a.code:hover {
  background-color: #88BB88;
  color: #333355;
}
.site-nav ul li a.skills:hover {
  background-color: #8888BB;
  color: #333355;
}
.site-nav ul li a.about:hover {
  background-color: #DDAA77;
  color: #333355;
}

.site-nav li:hover {
  box-shadow: 3px 3px 5px #000022;
}

.goty .backlog-bracket li {
  padding: 0;
}

.hentry li:hover, section.body li:hover {
  border-top-color: #FFFFFF;
}

section.body header {
  width: 100%;
}
section.body header, section.body footer {
  padding: 1em;
}
section.body footer {
  float: right;
  text-align: right;
  width: 40%;
}
section.body .entry-content {
  padding: 0 1em 0 1em;
}

.language {
  background-color: #DDDDEE;
  color: #444444;
  margin: 0;
}

.code-stuff p, .code-stuff .language {
  padding: 1em;
}
.code-stuff .github-link, .code-stuff .language {
  display: flex;
  justify-content: space-around;
  min-width: 11em;
}

.entry-content img {
  width: 80%;
}

.game {
  background-color: #333355;
  border-radius: 10px;
  color: #EEEEFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.game .board-entry {
  margin: 0 5px 5px 0;
}
.game .board-entry-spacer {
  margin: 0 10px 5px 0;
}
.game .board-row {
  margin: 0;
}
.game .board-row-spacer {
  margin: 0 0 5px 0;
}
.game .filled-square, .game .empty-square, .game .blocked-square,
.game .force-blocked-square {
  background-color: #EEEEFF;
  border: none;
  color: #666677;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.game .filled-square, .game .empty-square {
  color: #333355;
}
.game .force-blocked-square {
  background-color: #DEDEEF;
  color: #9999BB;
}
.game .blocked-square {
  background-color: #DEDEEF;
}
.game .filled-square {
  background-color: #666677;
}
.game .board-row, .game .board-row-spacer {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.game .game-board {
  margin: 1em;
}
.game .game-info {
  color: #333355;
  background-color: #EEEEFF;
  border-radius: 10px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  line-height: 34px;
  margin: 1em;
}
.game .game-info button {
  background-color: #9999BB;
  border: none;
  font-size: 18px;
  padding: 0;
  width: 96px;
  height: 34px;
}
.game .game-info div {
  margin: 0 auto;
  padding: 1em;
}
.game .kbd-navigation .square:focus {
  background: #dddddd;
}
.game .top-hints {
  flex-direction: row;
}

.goty {
  text-align: center;
}
.goty article .honorable-mention li {
  margin: 0 auto;
  max-height: 60%;
  max-width: 60%;
}
.goty aside {
  border-left: 2px solid #333355;
  padding-top: 0;
  width: 40%;
}
.goty aside .honorable-mention li {
  min-height: 69px;
  min-width: 69px;
}
.goty img {
  height: auto;
  width: 100%;
}
.goty ol {
  list-style: inside decimal-leading-zero;
}
.goty ol, .goty ul {
  justify-content: space-around;
  padding: 0 1em 0 1em;
}
.goty .honorable-mention {
  border-top: 2px solid #333355;
}
.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
  max-width: 33%;
}
.goty .top-ten .rest {
  flex-wrap: wrap;
}
.goty .top-ten .rest li {
  max-width: 25%;
}

.icon {
  color: #000022;
  margin-right: 0.5em;
  width: 2em;
}

.nonogram-container {
  margin: 0 auto;
  min-width: 30%;
  padding: 1em;
}
.nonogram-container textarea {
  border: 0;
  height: 10em;
  text-align: center;
}

.page-content, section.body {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #666699;
  justify-content: space-between;
  margin: 0 auto 1em auto;
  padding: 0.5em;
}
.page-content .read-more, section.body .read-more {
  line-height: 2;
  text-align: left;
  width: 50%;
}

.site-nav ul {
  padding: 0;
}

.social {
  height: 60%;
}

.unix {
  font-variant: small-caps;
}

.zeldo {
  margin: 0;
  width: 700px;
}
.zeldo img {
  width: 400px;
}
