article, aside, .code-stuff, .code-stuff li, .goty .top-ten,
.goty .top-ten .top-three, .goty .top-ten .rest, .language-section, .media-list,
.social-list, display, .languages, main, .nonogram-container, .site-nav ul {
  display: flex;
}
.code-stuff li, .goty .top-ten .top-three, .goty .top-ten .rest, .languages,
main, .site-nav ul {
  flex-direction: row;
}
article, aside, .code-stuff, .goty .top-ten, .language-section, .media-list,
.social-list, display, .nonogram-container {
  flex-direction: column;
}
a {
  text-align: center;
}
article {
  flex-grow: 10;
  min-height: 100;
  padding: 20px;
}
article .languages h3 {
  text-align: center;
}
aside {
  max-width: 20%;
  min-height: 100%;
  padding-top: 2em;
}
body, html {
  min-height: 100%;
}
html {
  background-color: #EEEEFF;
}
ol, ul {
  list-style-type: none;
  margin: 0;
}
ol li, ul li {
  flex-grow: 1;
}
ol li a, ul li a {
  display: block;
  padding: 1em;
}
.code-stuff li {
  justify-content: space-between;
}
.code-stuff p a {
  display: inline-block;
  padding: 0;
}
.code-stuff .language {
  margin: 0;
  padding: 1em;
}
.code-stuff .github-link, .code-stuff .language {
  display: inline-block;
  min-width: 10em;
}
.code-stuff li, .goty li {
  border: 1px solid #BBBBCC;
  margin: 0.5em;
}
.github-link, .goty li, .goty li a, .language {
  background-color: #DDDDEE;
  color: #444444;
}
.github-link:hover, .goty a:hover {
  background-color: #BBBBCC;
}
.goty {
  text-align: center;
}
.goty a, .goty article {
  padding: 0;
}
.goty article .honorable-mention li {
  margin: 0 auto;
  max-width: 60%;
  max-height: 60%;
}
.goty aside {
  border-left: 2px solid #333355;
  padding-top: 0;
  width: 40%;
}
.goty aside a {
  padding: 1em;
}
.goty aside .honorable-mention li {
  min-height: 69px;
  min-width: 69px;
}
.goty img {
  height: auto;
  width: 100%;
}
.goty ol {
  list-style: inside decimal-leading-zero;
}
.goty ol li {
  padding-bottom: 0;
  padding-top: 0.5em;
}
.goty ol, .goty ul {
  padding: 0 1em 0 1em;
  justify-content: space-around;
}
.goty .backlog-bracket a {
  padding: 1em;
}
.goty .backlog-bracket li {
  padding: 0;
}
.goty .honorable-mention {
  border-top: 2px solid #333355;
}
.goty .top-ten li {
  padding: 0;
}
.goty .top-ten .rest li {
  max-width: 25%;
}
.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
  max-width: 33%;
}
.goty .top-ten .rest {
  flex-wrap: wrap;
}
.icon {
  color: #000000;
  width: 2em;
}
.nonogram-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 30%;
  padding-left: 0;
  padding-right: 0;
}
.nonogram-container textarea {
  border: 0;
  height: 10em;
  text-align: center;
}
.site-nav ul {
  list-style-type: none;
  padding: 0;
}
.site-nav ul li {
  background-color: #333355;
}
.site-nav ul li a, .site-nav ul li a:visited {
  color: #EEEEFF;
  text-decoration: none;
}
.site-nav ul li a.active.name {
  background-color: #EEEEFF;
}
.site-nav ul li a.active.code {
  background-color: #77AA77;
}
.site-nav ul li a.active.skills {
  background-color: #7777AA;
}
.site-nav ul li a.active.about {
  background-color: #CC9966;
}
.site-nav ul li a.name:hover {
  background-color: #CCCCDD;
  color: #333355;
}
.site-nav ul li a.blog:hover {
  background-color: #BB8888;
  color: #333355;
}
.site-nav ul li a.code:hover {
  background-color: #88BB88;
  color: #333355;
}
.site-nav ul li a.skills:hover {
  background-color: #8888BB;
  color: #333355;
}
.site-nav ul li a.about:hover {
  background-color: #DDAA77;
  color: #333355;
}
.social {
  height: 60%;
}
.social-list li a {
  border: 1px solid #444455;
  color: #444455;
  padding: 25px;
  text-decoration: none;
}
.social-list li a:hover {
  background-color: #DDDDEE;
}
.unix {
  font-variant: small-caps;
}
.zeldo {
  margin: 0;
  width: 700px;
}
