//----------------------------------------------------------------------------//
// author:  andrew michaud                                                    //
// file:    goty.scss                                                         //
// purpose: styles for goty list pages                                        //
// updated: 2020-12-25                                                        //
// license: isc                                                               //
//----------------------------------------------------------------------------//
@import "vars";

.rest, .top-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
};

.top-three {
    padding: 0;
}

.rest {
    column-gap: 1em;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
}

.backlog-bracket ol, .honorable-mention ul {
    align-items: center;
}

main.goty, main.retro-goty, .site-nav-goty {
    grid-column: 1 / -1;
}

article .honorable-mention li {
    min-width: 70%;
    max-width: 70%;
    padding: 0.5em;
}

aside .honorable-mention li {
    max-width: 80%;
    min-width: 10em;
    width: 80%;
}

.goty article li {
    margin: 0.25em;
}

.goty-decade ol {
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.goty-decade li {
	border: 5px solid $background_dark;
    list-style-type: none;
    margin: 10px 0;
    max-height: 250px;
    overflow: hidden;
    text-align: center;

    img {
        height: 250px;
        width: 600px;
    }
}

.backlog-bracket li {
    justify-content: space-around;
    height: 6em;
    max-width: 80%;
    min-width: 10em;
    width: 80%;
}

.goty ol {
    list-style: inside decimal-leading-zero;
}

.goty ul {
    margin: 0;
    text-align: center;
}

// can't be ol/ul unconditionally because I'm still trying to
// preserve goty2015/goty2016 in a "raw" format.
.goty ul {
    list-style-type: none;
}

.goty-decade h2, .goty-decade h5 {
    text-align: center;
}

.goty-decade .hack {
    @extend %vertical-flex;
    background-color: $background;
    height: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0.5em 0;

    h2 {
        margin: 0 1em;
    }
}

.goty-modern, .goty-backfilled {
    margin: 0 auto;
    max-width: 1024px;
}

a.soundtrack {
    border-top: 1px solid $nav-blue;
    padding: 0.5em 0 0;
    width: 80%;
}

.goty li {
    align-items: center;
    background-color: $social_hover_background;
    border: 1px solid $background_darker;
    color: $nav_blue;
    flex: 1 auto;
    justify-content: space-between;
    height: auto;
    margin: 0 0.25em 1em 0.25em;
    padding: 0.75em 0;
}

main.goty, main.retro-goty {
    background-color: $background;
    height: 100%;
}

.goty {
    @extend %horizontal-flex;
    text-align: center;
    justify-content: space-evenly;

    article {
        padding: 0 1em 0 0.5em;
    }

    aside {
        border-left: 2px solid $nav_blue;
        padding: 0 0.5em;
        width: 40%;
    }

    .honorable-mention {
        @extend %vertical-flex;
        align-items: stretch;
        border-top: 2px solid $nav_blue;
        justify-content: space-around;

        li {
            padding: 0.5em;
        }
    }
}

.goty-decade .goty-backfilled li:hover {
    background-color: $background_lighter;
}

.goty li:hover, .booklist li:hover, .goty-decade li:hover {
    background-color: $background_dark;
}

.goty img {
    padding-bottom: 1em;
    width: 100%;
}

.lol-2020 {
    display: grid;
    gap: 1.5em 3em;
    grid-template-columns: repeat(4, auto);
    height: 500px;
    padding: 1em;
    width: 100%;

    .lol-2020-tile {
        border: 2px solid $nav_blue_darker;
        border-radius: 5px;
        height: 400px;
        padding: 10px;
        text-align: center;

        a {
            display: inline-block;
            height: 300px;
            width: 100%;
        }

        &:nth-child(2) {
            grid-column-start: 3;
        }

        &:nth-child(3) {
            grid-column-start: 2;
        }

        &:nth-child(4) {
            grid-column-start: 4;
        }
    }

    h4 {
        &:hover {
        }
    }

    img {
        height: 300px;
  }

}

.site-nav-goty {
    ul {
        @extend %horizontal-flex;
        margin: 0
    }
}
