//-----------------------------------------------------------------------------------------------//
// AUTHOR:  Andrew Michaud                                                                       //
// FILE:    main.scss                                                                            //
// PURPOSE: SCSS file for drew.life                                                              //
// UPDATED: 2019-04-20                                                                           //
// LICENSE: ISC                                                                                  //
//-----------------------------------------------------------------------------------------------//

//-------------------------------- VARIABLES ----------------------------------------------------//
$article_background: #FFFFFF;
$article_highlight: #666699;

$background: #EEEEFF;
$background_dark: #BBBBDD;
$background_darker: #9999BB;

$nav_blue_lighter: #555577;
$nav_blue: #333355;
$nav_blue_darker: #000011;

$menu_hover: #CCCCDD;

$orange: #CC9966;
$orange_highlight: #DDAA77;

$green: #77AA77;
$green_highlight: #88BB88;

$blue: #7777AA;
$blue_highlight: #8888BB;

$social_hover_background: #DDDDEE;

// nonogram section items.
$cell_size: 34px;
$board_filled: #666677;
$board_denied: #BCBCCD;
$board_blocked_denied: #DEDEEF;

$active_nav_colors: (
    default: $background,
    code: $green,
    skills: $blue,
    about: $orange,
);

$hover_nav_colors: (
    default: $menu_hover,
    code: $green_highlight,
    skills: $blue_highlight,
    about: $orange_highlight,
);

//----------------------------- SCSS DEFINITIONS ------------------------------------------------//
%horizontal-flex {
    display: flex;
    flex-direction: row;
}

%vertical-flex {
    display: flex;
    flex-direction: column;
}

//---------------------------------- STYLES -----------------------------------------------------//
a {
    color: $nav_blue;
}

body.page {
    @extend %vertical-flex;

    justify-content: space-between;
}

body {
    flex: 10 auto;
}

body, html {
    background-color: $background;
    height: 100%;
    min-width: 800px;
}

footer {
    min-height: 2em;
    max-height: 2em;
}

header {
    flex: 2 auto;
}

img {
    height: auto;
    width: 100%;
}

main {
    flex: 100 auto;
}

nav {
    a {
        color: background;
        display: block;
        padding: 1em;
        text-decoration: none;
    }

    li {
        background-color: $nav_blue;
        color: background;
    }
}

a:hover {
    background-color: $background_dark;
}

a:visited {
    color: $nav_blue_darker;
}

.goty a {
    padding: 0;
}

nav a:hover {
    background-color: $menu_hover;
    color: $nav_blue;
}

@each $item, $bg_color in $active_nav_colors {
    nav a.active.#{$item} {
        background-color: $bg_color;
        color: $nav_blue;
    }
}

@each $item, $bg_color in $hover_nav_colors {
    nav a.#{$item}:hover {
        background-color: $bg_color;
        color: $nav_blue;
    }
}

nav a:visited {
    color: $background;
}

.js-toy {
    flex: 20 auto;
}

span.small-caps {
    font-variant: small-caps;
}

nav ul {
    @extend %vertical-flex;

    padding: 0;
    width: 100%;

    li {
        border: 1px solid $nav_blue_lighter;
        flex: 1 auto;
    }
}

nav ul, .content ul, .goty ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

#post-list {
    list-style-type: none;
}

.code-stuff {
    @extend %vertical-flex;

    justify-content: space-between;

    .github-link, .language {
        align-items: center;
        background-color: $background_darker;
        border: 1px solid $background_darker;
        color: $nav_blue;
        display: flex;
        flex: 1 auto;
        margin: 0;
        padding: 0.5em;
    }

    .github-link {
        max-width: 9em;
        min-width: 9em;

        &:hover {
            background-color: $menu_hover;
            border-color: $nav_blue;
        }
    }

    .language {
        max-width: 11em;
        min-width: 11em;
    }

    p {
        margin: 1em;
    }
}

.goty li {
    align-items: center;
    background-color: $social_hover_background;
    color: $nav_blue;
    margin: 1em;
    padding: 1em;
}

.honorable-mention li {
    margin-bottom: 0.5em;
    max-height: 60%;
    max-width: 60%;
}

.site-banner h1 a {
    background-color: $background_dark;
    color: $nav_blue;
}

aside .backlog-bracket li a, aside .honorable-mention li a {
    display: block;
    padding: 1em;
}

.goty .backlog-bracket a {
    padding: 1em;
}

.site-banner h1 a:visited {
    background-color: $background_dark;
    color: $nav_blue;
}

header.site-banner {
    background-color: $background_dark;
    flex: 1 100%;
    max-height: 5em;
    min-height: 5em;
    padding-left: 1em;

    h1 {
        vertical-align: center;
    }

    h1 a:hover {
        color: $background;
    }
}

.goty aside {
    border-left: 2px solid $nav_blue;
    padding-top: 0;
    width: 40%;
}

main.content {
    @extend %horizontal-flex;

    flex: 1 auto;

    article {
        flex: 5 auto;
        padding: 1em;
    }

    aside {
        flex: 1 auto;
        padding: 1em;
    }
}

.code-stuff li {
    @extend %horizontal-flex;

    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    margin: 0.5em 0.5em;
}

.links nav {
    padding-bottom: 1em;
}

.media-list,
.top-ten {
    @extend %vertical-flex;
}

.top-three, .rest, body.home, .site-nav-goty ul, .goty {
    @extend %horizontal-flex;
}

.languages {
    @extend %horizontal-flex;

    li {
        @extend %vertical-flex;

        justify-content: stretch;

        h3, .language-section {
            justify-content: center;
        }
    }

    img {
        width: 4.5em;
    }
}

body.home {
    clear: both;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 90%;
    padding: 2.5em 1em 0;
}

.pelican {
    background-color: $article_background;
    line-height: 2;
    padding-left: 2em;
}

.code-stuff li, .goty li {
    border: 1px solid $background_darker;
}

.body li, .hentry li, .pelican {
    border-top: 1px solid $article_highlight;
}

.game li {
    border: none;
    float: left;
    height: $cell_size;
    line-height: $cell_size;
    text-align: center;
    width: $cell_size;
}

.game li, .top-ten li {
    padding: 0;
}

section.body li {
    border-top: 1px solid $article_highlight;
}

.booklist ul {
    @extend %horizontal-flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;

    li {
        background-color: $social_hover_background;
        border: 1px solid $nav_blue_lighter;
        flex: 1 auto;
        margin: 0.5em;
        max-width: 15em;
        min-width: 15em;
    }
}

.goty ol li {
    padding: 0.5em inherit 0 inherit;
}

.goty li:hover, .booklist li:hover {
    background-color: $background_dark;
}

.goty img, .booklist img {
    padding-bottom: 1em;
}

.entry-content img {
    width: 80%;
}

.zeldo {
    width: 500px;
}

.goty .backlog-bracket li {
    padding: 0;
}

.hentry li:hover, section.body li:hover {
    border-top-color: $article_background;
}

section.body {
    header {
        width: 100%;
    }

    header, footer {
        padding: 1em;
    }

    footer {
        float: right;
        text-align: right;
        width: 40%;
    }

    .entry-content {
        padding: 0 1em 0 1em;
    }
}

.game {
    @extend %horizontal-flex;

    background-color: $nav_blue_lighter;
    border-radius: 10px;
    color: $background;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 800px;

    .board-entry {
        margin: 0 5px 5px 0;
    }

    .board-entry-spacer {
        margin: 0 10px 5px 0;
    }

    .board-row {
        margin: 0;
    }

    .board-row-spacer {
        margin: 0 0 5px 0;
    }

    .filled-square, .empty-square, .blocked-square, .force-blocked-square {
        background-color: $background;
        border: none;
        color: $board_filled;
        float: left;
        height: $cell_size;
        line-height: $cell_size;
        padding: 0;
        text-align: center;
        width: $cell_size;
    }

    .filled-square, .empty-square {
        color: $nav_blue;
    }

    .blocked-square, .force-blocked-square {
        background-color: $board_blocked_denied;
    }

    .force-blocked-square {
        color: $background_darker;
    }

    .filled-square {
        background-color: $board_filled;
    }

    .board-row, .board-row-spacer {
        @extend %horizontal-flex;

        list-style-type: none;
    }

    .game-board {
        margin: 1em;
    }

    .game-info {
        @extend %horizontal-flex;

        color: $nav_blue;
        background-color: $background;
        border-radius: 10px;
        flex-direction: column;
        font-size: 18px;
        justify-content: center;
        line-height: $cell_size;
        margin: 1em;

        button {
            background-color: $background_dark;
            border: 1px solid $background_darker;
            padding: 0;
            width: 96px;
            height: $cell_size;
        }

        button:hover {
            background-color: $background_darker;
        }

        div {
            margin: 0 auto;
            padding: 1em;
        }
    }

    .kbd-navigation .square:focus {
        background: #dddddd;
    }

    .top-hints {
        flex-direction: row;
    }
}

.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
    max-width: 33%;
}

.goty .top-ten .rest li {
    max-width: 25%;
}

.goty {
    text-align: center;

    ol {
        list-style: inside decimal-leading-zero;
    }

    ol, ul {
        justify-content: space-around;
        padding: 0 1em 0 1em;
    }

    .honorable-mention {
        border-top: 2px solid $nav_blue;

        ul {
            @extend %vertical-flex;

            justify-content: center;
        }
    }

    .top-ten .rest {
        flex-wrap: wrap;
    }
}

.page-content, section.body {
    background-color: $article_background;
    box-shadow: 5px 5px 5px $article_highlight;
    justify-content: space-between;
    margin: 0 auto 1em auto;
    padding: 0.5em;

    .read-more {
        line-height: 2;
        text-align: left;
        width: 50%;
    }
}
