//-----------------------------------------------------------------------------------------------//
// AUTHOR:  Andrew Michaud                                                                       //
// FILE:    main.scss                                                                            //
// PURPOSE: SCSS file for drew.life                                                              //
// UPDATED: 2019-04-20                                                                           //
// LICENSE: ISC                                                                                  //
//-----------------------------------------------------------------------------------------------//

//-------------------------------- VARIABLES ----------------------------------------------------//
$article_background: #FFFFFF;
$article_highlight: #666699;
$background: #EEEEFF;

$background_dark: #BBBBDD;
$background_darker: #9999BB;

$black_blue: #000022;

$lighter_nav_blue: #555577;
$menu_hover: #BB8888;
$nav_blue: #333355;

$social_color: #444455;
$social_hover_background: #DDDDEE;
$textarea_background: #EFEFFF;

// nonogram section items.
$cell_size: 34px;
$faint_nav_blue: #9999BB;
$board_background: #333344;
$board_filled: #666677;
$board_denied: #BCBCCD;
$board_blocked_denied: #DEDEEF;
$board_empty: #EFEFFF;

$active_nav_colors: (name: $background, code: #77AA77, skills: #7777AA, about: #CC9966);
$hover_nav_colors: (null: #FF0000, name: #CCCCDD, blog: $menu_hover, code: #88BB88, skills: #8888BB, about: #DDAA77);

//----------------------------- SCSS DEFINITIONS ------------------------------------------------//
%horizontal-flex {
    display: flex;
    flex-direction: row;
}

%vertical-flex {
    display: flex;
    flex-direction: column;
}

//---------------------------------- STYLES -----------------------------------------------------//
body.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    flex: 10 auto;
}

body, html {
    background-color: $background;
    height: 100%;
    width: 100%;
}

footer {
    min-height: 2em;
    max-height: 2em;
}

header {
    flex: 2 auto;
}

main {
    flex: 100 auto;
}

.js-toy {
    flex: 20 auto;
}

nav a {
    text-decoration: none;
}

span.small-caps {
    font-variant: small-caps;
}

ul li a {
    text-align: center;
}

nav li a {
    display: block;
    padding: 1em;
}

a:hover {
    background-color: $background_dark;
}

a:visited {
    color: $black_blue;
    background-color: $background_dark;
}

.goty a {
    padding: 0;
}

nav a:hover {
    background-color: $menu_hover;
}

nav a:visited {
    text-decoration: none;
}

nav ul {
    width: 100%;

    li {
        flex: 1 auto;
    }
}

nav ul, .content ul, .goty ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.goty li, .goty li a {
    background-color: $social_hover_background;
    color: $social-color;
}

header h1 a:hover {
    background-color: $background;
    color: $menu_hover;
}

header h1 a:visited {
    background-color: $background;
}

li header a:visited {
    color: $black_blue;
}

aside .backlog-bracket li a, aside .honorable-mention li a {
    display: block;
    padding: 1em;
}

.site-nav ul li a, .site-nav-goty ul li a, .social ul li a {
    color: $background;
}

header.site-banner h1 a {
    background-color: $background_dark;
    color: $nav_blue;
}

.goty .backlog-bracket a {
    padding: 1em;
}

.code-stuff li a:hover {
    background-color: $background_darker;
}

.github-link {
    @extend %vertical-flex;

    background-color: $social_hover_background;
    color: $social-color;
}

header.site-banner h1 a:visited {
    background-color: $background_dark;
    color: $nav_blue;
}

.github-link:hover {
    background-color: $background_dark;
}

header.site-banner {
    background-color: $background_dark;
    box-shadow: 3px -3px 5px $black_blue;
    flex: 1 100%;
    max-height: 5em;
    min-height: 5em;
    padding-left: 1em;

    h1 {
        vertical-align: center;
    }

    h1 a:hover {
        color: $background;
    }
}

.goty aside {
    border-left: 2px solid $nav_blue;
    padding-top: 0;
    width: 40%;
}

main.content {
    @extend %horizontal-flex;

    flex: 1 auto;

    article {
        flex: 5 auto;
        padding: 1em;
    }

    aside {
        flex: 1 auto;
        padding: 1em;
    }
}

.code-stuff {
    li {
        @extend %horizontal-flex;

        justify-content: space-between;
    }
}

.language-section li {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links nav {
    padding-bottom: 1em;
}

.code-stuff,
.language,
.language-section,
.media-list,
.nonogram-container,
.social-list,
.top-ten,
.site-nav ul,
.social ul {
    @extend %vertical-flex;
}

.languages, .top-three, .rest, body.home, .site-nav-goty ul, .goty {
    @extend %horizontal-flex;
}

.languages {
    justify-content: space-around;

    ul {
        margin: 1em;
        text-align: center;
    }
}

.site-home {
    background-color: $lighter_nav_blue;
}

.links li {
    border: 1px solid $nav_blue;
    border-top: 1px solid $black_blue;
}

.site-nav-goty li {
    border: 1px solid $lighter_nav_blue;
}

.hentry header {
    border-top: 1px solid $black_blue;
}

.site-nav ul li a:visited, .site-nav-goty ul li a:visited, .social ul li a:visited {
    color: $background;
}

body.home {
    clear: both;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 90%;
    padding: 2.5em 1em 0;
}

.pelican {
    background-color: $article_background;
    box-shadow: 3px 3px 5px $black_blue;
    line-height: 2;
    padding-left: 2em;
}

.code-stuff li, .goty li {
    border: 1px solid $background_darker;
    margin: 0.5em;
}

.body li, .hentry li {
    border-top: 1px solid $article_highlight;
}

.game li {
    border: none;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: $cell_size;
    line-height: $cell_size;
    padding: 0;
    text-align: center;
    width: $cell_size;
}

.top-ten li {
    padding: 0;
}

section.body li {
    border-top: 1px solid $article_highlight;
}

.goty ol li {
    padding: 0.5em inherit 0 inherit;
}

.links ul li, .site-nav-goty ul li {
    background-color: $nav_blue;

    a:hover {
        color: $nav_blue;
    }

    @each $item, $bg_color in $active_nav_colors {
        a.active.#{$item} {
            background-color: $bg_color;
        }
    }

    @each $item, $bg_color in $hover_nav_colors {
        a.#{$item}:hover {
            background-color: $bg_color;
            color: $nav_blue;
        }
    }
}

// .site-nav li:hover, .site-nav-goty li:hover, .social li:hover {
//     box-shadow: 3px 3px 5px $black_blue;
// }

.goty .backlog-bracket li {
    padding: 0;
}

.hentry li:hover, section.body li:hover {
    border-top-color: $article_background;
}

section.body {
    header {
        width: 100%;
    }

    header, footer {
        padding: 1em;
    }

    footer {
        float: right;
        text-align: right;
        width: 40%;
    }

    .entry-content {
        padding: 0 1em 0 1em;
    }
}

.language {
    background-color: $social_hover_background;
    color: $social-color;
    margin: 0;
}

.code-stuff p, .code-stuff .language {
    padding: 1em;
}

.code-stuff .github-link, .code-stuff .language {
    display: flex;
    justify-content: space-around;
    min-width: 11em;
}

.entry-content img {
    width: 80%;
}

.game {
    background-color: $nav_blue;
    border-radius: 10px;
    color: $background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 800px;

    .board-entry {
        margin: 0 5px 5px 0;
    }

    .board-entry-spacer {
        margin: 0 10px 5px 0;
    }

    .board-row {
        margin: 0;
    }

    .board-row-spacer {
        margin: 0 0 5px 0;
    }

    .filled-square, .empty-square, .blocked-square, .force-blocked-square {
        background-color: $background;
        border: none;
        color: $board_filled;
        float: left;
        font-size: 24px;
        font-weight: bold;
        height: $cell_size;
        line-height: $cell_size;
        padding: 0;
        text-align: center;
        width: $cell_size;
    }

    .filled-square, .empty-square {
        color: $nav_blue;
    }

    .force-blocked-square {
        background-color: $board_blocked_denied;
        color: $faint_nav_blue;
    }

    .blocked-square {
        background-color: $board-blocked-denied;
    }

    .filled-square {
        background-color: $board_filled;
    }

    .board-row, .board-row-spacer {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .game-board {
        margin: 1em;
    }

    .game-info {
        color: $nav_blue;
        background-color: $background;
        border-radius: 10px;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
        line-height: $cell_size;
        margin: 1em;

        button {
            background-color: $faint_nav_blue;
            border: none;
            font-size: 18px;
            padding: 0;
            width: 96px;
            height: 34px;
        }

        div {
            margin: 0 auto;
            padding: 1em;
        }
    }

    .kbd-navigation .square:focus {
        background: #dddddd;
    }

    .top-hints {
        flex-direction: row;
    }
}

.goty article .honorable-mention li {
    margin: 0 auto;
    max-height: 60%;
    max-width: 60%;
}

.goty .top-ten .top-three li, .goty .top-ten .honorable-mention li {
    max-width: 33%;
}

.goty .top-ten .rest li {
    max-width: 25%;
}

main.content .goty aside .honorable-mention li {
    min-height: 69px;
    min-width: 69px;
}

.goty {
    text-align: center;

    img {
        height: auto;
        width: 100%;
    }

    ol {
        list-style: inside decimal-leading-zero;
    }

    ol, ul {
        justify-content: space-around;
        padding: 0 1em 0 1em;
    }

    .honorable-mention {
        border-top: 2px solid $nav_blue;
    }

    .top-ten .rest {
        flex-wrap: wrap;
    }
}

.icon {
    height: 4.5em;
}

.nonogram-container {
    margin: 0 auto;
    min-width: 30%;
    padding: 1em;

    textarea {
        border: 0;
        height: 10em;
        text-align: center;
    }
}

.page-content, section.body {
    background-color: $article_background;
    box-shadow: 5px 5px 5px $article_highlight;
    justify-content: space-between;
    margin: 0 auto 1em auto;
    padding: 0.5em;

    .read-more {
        line-height: 2;
        text-align: left;
        width: 50%;
    }
}

.site-nav ul, .site-nav-goty ul, .social ul {
    padding: 0;
}

.zeldo {
    width: 700px;

    img {
        width: 400px;
    }
}
