//----------------------------------------------------------------------------//
// author:  andrew michaud                                                    //
// file:    ocgallery.scss                                                    //
// purpose: specific styles for oc gallery section                            //
// updated: 2021-01-11                                                        //
// license: isc                                                               //
//----------------------------------------------------------------------------//
@import "vars";

$category_width: 30px;
$widths: (
    pfp-art: 250px,
    fullbody-art: 350px,
);

$art_category_colors: (
    demo: #FFFFFF,
    fursona: #C7C5C2,
    destiny2: #1F79A1,
);

@each $item, $bg_color in $art_category_colors {
    .art-tile-category.#{$item} {
        background-color: $bg_color;
    }
}

@each $type, $width in $widths {
    .#{$type}.art-tile-art, .#{$type} img, .#{$type} a, .#{$type} .art-info-container {
        width: $width;
        height: auto;
    }

    .#{$type}.art-tile {
        grid-template-columns: $width $category_width;
        grid-template-rows: auto auto $category_width/2;
    }
}

.art-tile {
    display: grid;
    font-family: 'Jura', sans-serif;
    gap: 0;

    a {
        display: inline-grid;
    }
}

.art-tile-art, .art-info-container {
    border: 2px solid $nav_blue_darker;
    border-right: none;
    grid-column: 1 / 2;
}

.art-tile-art {
    border-bottom: none;
    border-top-left-radius: 5px;
}

.art-info-container {
    background-color: $background_lighter;
    border-bottom-left-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-row: 2 / span 1;
}

.art-info-tile {
    border-top: 2px solid $nav_blue_darker;
    display: grid;
    font-size: 14px;
    line-height: 2;
    padding: 0 10px;
    text-align: left;

    &:nth-child(2n+1) {
        border-right: 2px solid $nav_blue_darker;
    }

    a {
        display: inline-block;
        margin: 0;
        margin-left: -10px;
        padding-left: 10px;
        width: 100%
    }
}

.art-tile-category {
    border: 2px solid $nav_blue_darker;
    border-top-right-radius: 10px;
    font-size: 21px;
    font-weight: bold;
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    text-align: center;
    writing-mode: sideways-lr;
}

.gallery-section {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 2em 2em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 380px));

    h3 {
        grid-column: 1 / -1;
    }
}

.ocgallery-container h2 {
    padding: 1em;
    text-align: center;
}
