//----------------------------------------------------------------------------//
// author:  andrew michaud                                                    //
// file:    ocgallery.scss                                                    //
// purpose: specific styles for oc gallery section                            //
// updated: 2020-12-09                                                        //
// license: isc                                                               //
//----------------------------------------------------------------------------//
@import "vars";

$art_category_colors: (
    demo: #FFFFFF,
    category1: #C7C5C2,
    category2: #1F79A1,
);

@each $item, $bg_color in $art_category_colors {
    .art-tile-category.#{$item} {
        background-color: $bg_color;
    }
}

.gallery-section {
    display: grid;
    justify-content: center;

    h3 {
        grid-column: 1 / -1;
    }
}

.pfp-art {
    .art-tile, img {
        width: 250px;
    }

    &.gallery-section {
        gap: 1em 5em;
        grid-template-columns: repeat(auto-fill, 284px);
    }
}

.fullbody-art {
    .art-tile, img {
        width: 350px;
    }

    &.gallery-section {
        gap: 1em 3em;
        grid-template-columns: repeat(auto-fill, 384px);
    }
}

.art-tile {
    display: grid;
    gap: 0;
    grid-template-columns: auto 10px;
}

.art-tile-art {
    border-bottom: none;
    border-top-left-radius: 5px;
    height: 100%;
}

.art-tile-art, .art-info-container {
    border: 2px solid $nav_blue_darker;
    grid-column: 1 / 2;
}

.art-info-container {
    background-color: $background_lighter;
    border: 2px solid $nav_blue_darker;
    border-bottom-left-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 50%));
    grid-row: 2 / span 1;
}

.art-info-tile {
    border-top: 2px solid $nav_blue_darker;
    display: grid;
    grid-template-columns: repeat(auto-fill, 3);
    height: 100%;
    line-height: 2;
    padding: 0 10px;
    text-align: left;

    a {
        display: inline-block;
        margin: 0;
        margin-left: -10px;
        padding-left: 10px;
        width: 100%
    }
}

.art-tile-category {
    border: 2px solid $nav_blue_darker;
    /* fuck */
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    height: 101%;
    line-height: 2rem;
    text-align: center;
    width: 30px;
    writing-mode: sideways-lr;
}

.ocgallery-container {
    min-width: 800px;

    h2, h3 {
        text-align: center;
    }

    h3 {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
}
